.detail-title{
    width: 100%;
    background: #000;
    font-size: .4rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    height: 3rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg{
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    background: url(../images/blog/banner.jpg); 
}
.blog-container{
    width: 100%;
    background: #f5f5f5;
    padding-top: .8rem;
}
.detail-title .title h1 {
    display: inline-block;
    font-size: .475rem;
    font-weight: bold;
    height: .95rem;
    line-height: .95rem;
    position: relative;
}
.detail-title .title h1::after {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -35%;
    bottom: -1px;
}
.blog-list{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
}
.blog-item{
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 16px 10px rgba(105,105,105,.1);
    margin: 0 1% 60px 1%;
    transition: 0.5s;
    position: relative;
}
.blog-item:hover{
    box-shadow: 0 0 16px 10px rgba(105,105,105,.2);
}
.img-box{
    width: 100%;
    border-radius: 20px;
}
.img-box img{
    width: 100%;
    max-height: 184px;
}
.blog-content{
    padding: 0.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .225rem;
}
.blog-title h2{
    font-size: .3rem;
    margin-bottom: 20px;
    
}
.blog-title h2 a{
    font-weight: bolder;
}
.brief-desc{
    width: 100%;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    margin-bottom: 20px;
}
.read-more {
    margin-bottom: 40px;
}
.read-more a{
    color: #bc261a
}
.read-more a i{
    display: inline-block;
    margin-left: 6px;
}
.blog-date{
    padding: 0.1rem 0.2rem;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 0.2rem;
    box-sizing: border-box;
}
/* 响应式 */
@media (max-width:1500px){
    .detail-title .title h1 {
        font-size: 38px;
    }
    .blog-title h2 {
        font-size: 24px;
    }
    .blog-content {
        font-size: 18px;
    }
    
}
@media (max-width:1200px){
    .blog-item{
        width: 31%;
        max-height: 500px;
    }
}
@media (max-width:1024px){
    .detail-title{
        margin-top: 60px;
    }
    .blog-title h2 {
        font-size: 20px;
    }
    .blog-content {
        font-size: 16px;
    }
}
@media (max-width: 991px) {
    .detail-title {
        height: 160px;
    }
    .detail-title .title h1 {
        height: 44px;
        line-height: 44px;
    }
    .blog-list{
        justify-content: space-around;
    }
    .blog-item{
        width: 45%;
    }
}
@media (max-width:576px){
    .detail-title .title h1 {
        font-size: 28px;
    }
    .blog-item{
        width: 90%;
    }
    
}