@charset "utf-8";
.container{
    width: 100%;
    height: 100%;
}
.page-index {
    min-height: 100vh;
}
.head-title{
    width: 100%;
    text-align: center;
}
.head-title h2, .head-title span{
    display: inline-block;
    font-size: .5rem;
    position: relative;
    font-weight:bolder;
}
.head-title a{
    font-weight:bolder;
    color: #000;
}
.head-title h2::after, .head-title span::after{
    content: '';
    display: block;
    height: 2px;
    width: 70%;
    background: #bc261a;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -35%;
}
.head-title a:hover{
    color: #bc261a;
}
.head-title p {
    margin: 20px;
}
@font-face {
    font-family: 'iconfont';
    src: url('./iconfont/iconfont.eot');
    src: url('./iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./iconfont/iconfont.woff2') format('woff2'),
        url('./iconfont/iconfont.woff') format('woff'),
        url('./iconfont/iconfont.ttf') format('truetype'),
        url('./iconfont/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 40px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color:#bc261a;
}
.header{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    background: #010101;
    transition: all 0.3s ease;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
}
.header::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: #eee;
    opacity: .5;
}
.header-inner{
    width: 90%;
    margin: 0 auto;
    z-index: 10;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    width: 20%;
    display: flex;
    align-items: center;
    height: 100%;
}
.header-logo img {
    display: block;
    width: auto;
    max-height: 36px;
}
.header-menu {
    width: 70%;
    vertical-align: top;
}
.header-menu-ul {
    font-size: 0;
    width: 100%;
}
.menu-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.menu-link {
    position: relative;
    display: block;
    margin: 0 20px;
    font-size: .1875rem;
    font-weight: bold;
    line-height: 60px;
    letter-spacing: .02em;
    color: #fff;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}
.menu-link::after{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    top:50%;
    margin-top:10px;
    background:#bc261a;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}
.subMenu-ul {
    background-color: #fff;
}
.subMenu-link {
    position: relative;
    display: block;
    height: .625rem;
    text-align: center;
    color: #333;
}
.subMenu-link span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    font: 600 0.175rem/1.5 "Calibri";
    letter-spacing: -.025em;
    cursor: pointer;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.subMenu-ul li:last-of-type .subMenu-link {
    border-bottom: 0;
}
.mobile-header{
    display: none;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align:center;
}
.mobile-header span{
    font-size: 30px;
    color: #bc261a;
    line-height: 60px;
}
.menu-with-icon .menu-icon {
    display: none;
}
.banner .bx-wrapper {
    margin-top:100px;
}
.sepreate{
    width: 100%;
    height: 6px;
    background: #bc261a;
    position: relative;
}
.iconCricle {
    padding: .5rem;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    width: .5rem;
    height: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconCricle i{
    font-size: .55rem;
    color:#bc261a
}
.product {
    width: 100%;
    /* padding: 0.5rem 0; */
}
.product-container{
    width: 90%;
    margin: 0.5rem auto;
    margin-bottom: 0;
    display: flex;
    flex-wrap:wrap;
}
.part-products {
    justify-content: flex-start;
}
.part-products .product-item{
    margin-right:30px;
}
.three-products{
    width: 80%;
}
.three-products .product-item {
    width: 30%;
}
.product-item{
    width: 23%;
    height: 100%;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.16);
    box-shadow: 0 0 10px rgba(0,0,0,0.16);
    margin-top:30px;
    margin-left: 1%;
    margin-right: 1%;
}
.thumb{
    display: block;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.thumb img{
    width: 55%;
    max-height: 100%;
    -webkit-transform: scaleX(1);
    transform: scale(1);
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}
.list-title{
    display: block;
    width: 100%;
    height: .75rem;
    line-height: .75rem;
    background: #595a58;
    text-align: center;
    color: #fff;
    font-size: .225rem;
    cursor: pointer;
}
.list-title .more{
    display: none;
}
.whatsicon {
    position: fixed;
    right: 6px;
    top: 77%;
    z-index: 999999;
    transform: translateY(-50%);
}
.whatsicon a {
    overflow: hidden;
    width: 80px;
    height: 80px;
    display: block;
    color: #0bbb27;
    font-size: 80px;
    text-align: right;
    line-height: 80px;
}
.subMenu {
    width: 2.5rem;
}
.thirdMenu-item {
    width: 2.5rem;
    height: .625rem;
    right: -2.5rem;
}
@media (min-width: 1025px) {
    .header.fixed {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #fff;        
    }
    .menu-link.active{
        color: #010101;
    }
    .header-menu-ul{
        display: flex;
        justify-content: flex-end   
    }
    .subMenu {
        visibility: hidden; 
        opacity: 0; 
        margin-top: 20px;
        -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.05);
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -100px;
    }
    .subMenu.active{
        margin-top: 10px;
    }
    .subMenu::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 0;
        left: 0;
        height: 20px;
    }
    .subMenu-item {
        position: relative;
    }
    .thirdMenu-item {
        position: absolute;
        background: #fff;
        top: 0;
        color: #000;
        display: none;
        height: auto;
    }
    .subMenu-link:hover{
        background-color: #bc261a;
        color: #fff;
    }
    .subMenu-item:hover .thirdMenu-item {
        display: block;
    }
    /* .subMenu-link.submenu-item-active {
        background-color: #bc261a;
        color: #fff;
    } */
    .menu-link:hover{
        color:#bc261a;
    }
    .menu-link:hover:after{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    } 
    .menu-item:hover .subMenu {
        opacity: 1; 
        visibility: visible; 
        transform: translateY(0);
    }
    .menu-active .menu-link{
        color:#bc261a;
    }
    .menu-active .menu-link:after{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .thumb .short {
        width: 85%;
    }
    .thumb .shorter {
        width: 70%;
    }
    .product-container .thumb:hover img{
        -webkit-transform: scaleX(1.1);
        transform: scale(1.1);
    }
    .product-container .list-title:hover{
        background: #bc261a;
    }
    .product-container .list-title:hover .more{
        display: inline;
        font-weight: 600;
    }
    .list-title:hover .current{
        display: none;
    }
}
@media (max-width: 1500px) {
    .list-title {
        font-size: 18px;
        height: 60px;
        line-height: 60px;
    }
    .head-title h2, .head-title span {
        font-size: 40px;
    }
    .menu-link {
        font-size: 15px;
    }
    .subMenu, .thirdMenu-item  {
        width: 200px;
    }
    .subMenu-link {
        height: 50px;
    }
    .subMenu-link span {
        font-size: 14px;
    }
    .thirdMenu-item {
        right: -200px;
    }
}
@media (max-width: 1200px) {
    
}
@media (max-width:1024px){
    .active > a{
        color:#bc261a;
    }
    .banner{
        margin-top:60px;
    }
    .header::before {
        content: "";
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -moz-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
        pointer-events: none;
    }
    .header{
        /* background: #fff; */
        padding: 0;
    }
    .header-logo img{
        height: 18px;
    }
    .mobile-header{
        display: block;
    }
    .header-menu-ul {
        margin-top: 10px;
    }
    .menu-item {
        /* text-align: center; */
        position: relative;
        display: block;
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .menu-open .menu-item {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .mobile-header .fa-close, .menu-open .menu {
        display: none;
    }
    .menu-open .fa-close {
        display: block;
    }
    .menu-item::after {
        content: "";
        position: absolute;
        right: 20px;
        bottom: 0;
        left: 20px;
        height: 1px;
        background-color: #bfbfbf;
        -webkit-transform: scale3d(0, 0.5, 1);
        transform: scale3d(0, 0.5, 1);
        -webkit-transition: transform .3s ease;
        transition: transform .3s ease;
    }
    .menu-open .menu-item::after {
        -webkit-transform: scale3d(1, 0.5, 1);
        transform: scale3d(1, 0.5, 1);
    }
    .menu-open .menu-item:nth-of-type(1) {
        -webkit-transition-delay: .35s;
        transition-delay: .35s;
    }
    .menu-open .menu-item:nth-of-type(2) {
        -webkit-transition-delay: .4s;
        transition-delay: .4s;
    }
    .menu-open .menu-item:nth-of-type(3) {
        -webkit-transition-delay: .45s;
        transition-delay: .45s;
    }
    .menu-open .menu-item:nth-of-type(4) {
        -webkit-transition-delay: .5s;
        transition-delay: .5s;
    }
    .menu-open .menu-item:nth-of-type(5) {
        -webkit-transition-delay: .55s;
        transition-delay: .55s;
    }
    .menu-open .menu-item:nth-of-type(6) {
        -webkit-transition-delay: .6s;
        transition-delay: .6s;
    }
    .menu-open .menu-item:nth-of-type(7) {
        -webkit-transition-delay: .65s;
        transition-delay: .65s;
    }
    .menu-open .menu-item:nth-of-type(8) {
        -webkit-transition-delay: .7s;
        transition-delay: .7s;
    }
    .header-menu{
        width: 100%;
        position: fixed;
        top:60px;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        overflow-y: auto;
        background: #000;
        -webkit-transform: translate3d(0, -150%, 0);
        transform: translate3d(0, -150%, 0);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .menu-open .header-menu {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    .menu-with-icon {
        display: flex;
        justify-content: space-between;
    }
    .menu-with-icon .menu-icon {
        display: block;
        font-size: 12px;
        padding-right: 26px;
        color: #fff;
        line-height: 60px;
        width: 15%;
        height: 60px;
        text-align: right;
        position: relative;
    }
    .icon-active {
        transform: rotate(90deg);
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .subMenu {
        position: relative;
        top: auto;
        width: auto;
        height: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .has-sub {
        width: 85%;
    }
    .thirdMenu-item {
        height: 0;
        opacity: 0;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
    .thirdMenu-item .subMenu-link {
        height: 40px;
    }
    .subMenu.subMenu-active, .thirdMenu-item.subMenu-active{
        height: 100%;
        opacity: 1;
    }
    .subMenu-ul {
        height: 0;
        overflow: hidden;
        background: #393939;
    }
    .subMenu-ul.subMenu-ul-active{
        height: 100%;
    }
    .subMenu-item .menu-icon {
        height: 50px;
        line-height: 50px;
    }
    .subMenu-link {
        margin-right: 0;
        margin-left: 0;
        border-bottom: 0;
        position: relative;
        color: #fff;
        text-align: left;
        width: 100%;
        height: 50px;
    }
    .subMenu-link span {
        font-weight: normal;
        font-size: 16px;
        left: 20px;
    }
    .thirdMenu-item .subMenu-link span {
        left: 34px;
    }
    .product-item {
        width: 30%;
        margin: 30px 1.5%;
    }
    .list-title {
        height: 50px;
        line-height: 50px;
    }
    .thumb {
        height: 240px;
    }
    .thumb .short {
        width: 90%;
    }
    .head-title h2, .head-title span {
        font-size: 38px;
    }
}
@media (max-width: 991px) {
    .product-item {
        width: 45%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .thumb {
        height: 300px;
    }
}
@media (max-width: 576px) {
    .product-container {
        justify-content: center;
    }
    .product-item {
        width: 90%;
    }
    .head-title h2, .head-title span {
        font-size: 30px;
    }
    .whatsicon a {
        width: 50px;
        height: 50px;
        font-size: 50px;
        line-height: 50px;
    }
}
@media (min-width: 1025px) and (max-width:1550px) {
    .header-menu {
        width: 80%;
    }
} 