.contact-box{
    margin-top: 120px;
}
.contact-box .head-title {
    margin-top: 2rem;
}
.contact-head{
    width: 90%;
    margin: 1.275rem auto;
    display: flex;
    justify-content: space-between;
}
.contact-box .head-title h1 {
    font-size: .525rem;
}
.contact-item{
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
}
.contact-item i{
    font-size: .475rem;
    color: #bc261a;
}
.contact-item .icon-box{
    width: .625rem;
    height: .625rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .25rem;
}
.contact-item .title{
    font-size: .3rem;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.contact-item p{
    font-size: .225rem;
    line-height: 1.5;
    text-align: center;
}
.contact-detail{
    margin-bottom: .95rem;
}
.contact-body{
    width: 90%;
    margin: 0 auto;
    margin-top: 1.125rem;
}
.input-contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-contact input{
    width: 42%;
    height: .5rem;
    margin-bottom: .475rem;
    padding: 0 16px;
    border: none;
    font-size: .225rem;
    border-bottom: 1px solid #ccc;
}
.contact-body textarea{
    width: 100%;
    height: 2.25rem;
    border-color: #ccc;
    margin-top: .175rem;
    margin-bottom: .325rem;
    box-sizing: border-box;
    font-size: .225rem;
}
.contact-input::-webkit-input-placeholder {
    line-height: .25rem;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.btn .submit{
    width: 3.175rem;
    height: .8rem;
    border: 1px solid #bc261a;
    text-align: center;
    line-height: .8rem;
    border-radius: 0;
    font-size: .225rem;
    color:#bc261a;
    font-weight: bold;
}
.btn .submit:hover{
    color:#fff;
}
@media (max-width:1500px) {
    .contact-box .head-title h1 {
        font-size: 42px;
    }
    .contact-item .title {
        font-size: 24px;
    }
    .contact-item p {
        font-size: 18px;
    }
    .input-contact input, .contact-body textarea {
        font-size: 18px;
    }
    .btn .submit {
        font-size: 18px;
    }
}
@media (max-width:1024px) {
    .contact-box .head-title h1 {
        font-size: 38px;
    }
    .contact-head {
        margin-top: 80px;
    }
}
@media (max-width:991px) {
    .contact-box .head-title {
        margin-top: 100px;
    }
    .contact-item i {
        font-size: 36px;
    }
    .btn .submit {
        width: 200px;
        height: 60px;
        line-height: 60px;
    }
}
@media (max-width:768px) {
    .contact-item {
        margin-bottom: 30px;
    }
    .contact-head{
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
    }
    .contact-item .icon-box{
        margin-bottom:0;
    }
}
@media (max-width:600px) {
    .input-contact input {
        width:35%;
    }
    .btn .submit{
        height: 40px;
        line-height: 40px;
    }
    .input-contact input{
        margin-bottom:0.5rem;
        height:1rem;
    }
    .contact-item p{
        font-size: 14px;
        line-height: 18px;
        margin-top: 6px;
    }
    .contact-item .title{
        font-size: 16px;
    }
    .contact-item{
        width: 80%;
    }
    .btn .submit{
        font-size: 18px;
    }
}