@charset "utf-8";
img {
    width: 100%;
}
.container {
    font-size: .225rem;
}
.detail-title{
    width: 100%;
    background: #000;
    font-size: .4rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    height: 3rem;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg{
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
}
.vx-bg {
    background: url(../images/bgs/vx-bg.jpg);
}
.cr-bg {
    background: url(../images/bgs/cr-bg.jpg);
}
.db-bg {
    background: url(../images/bgs/db-bg.jpg);
}
.ei-bg {
    background: url(../images/bgs/ei-bg.jpg);
}
.ft-bg {
    background: url(../images/bgs/ft-bg.jpg);
}
.hd-bg {
    background: url(../images/bgs/hd-bg.jpg);
}
.lm-bg {
    background: url(../images/bgs/lm-bg.jpg);
}
.mc-bg {
    background: url(../images/bgs/mc-bg.jpg);
}
.nl-bg {
    background: url(../images/bgs/nl-bg.jpg);
}
.tr-bg {
    background: url(../images/bgs/tr-bg.jpg);
}
.ts-bg {
    background: url(../images/bgs/ts-bg.jpg);
}
.ec-bg {
    background: url(../images/bgs/ec-bg.jpg);
    background-position: center;
}
.ma-bg {
    background: url(../images/bgs/ma-bg.jpg);
}
.ct-bg {
    background: url(../images/bgs/ct-bg.jpg);
    background-position: center;
}
.st-bg {
    background: url(../images/bgs/st-bg.jpg);
    background-position: center;
}
.bt-bg {
    background: url(../images/bgs/bt-bg.jpg);
    background-position: center;
}
.sa-bg {
    background: url(../images/bgs/sa-bg.jpg);
}
.rs-bg {
    background: url(../images/bgs/rs-bg.jpg);
}
.tl-bg {
    background: url(../images/bgs/tl-bg.jpg);
}
.mi-bg {
    background: url(../images/bgs/mi-bg.jpg);
}
.u-bg {
    background: url(../images/bgs/u-bg.jpg);
}
.fl-bg {
    background: url(../images/bgs/fl-bg.jpg);
}
.d-bg {
    background: url(../images/bgs/d-bg.jpg);
}
.k-bg {
    background: url(../images/bgs/k-bg.jpg);
}
.innox-bg {
    background: url(../images/bgs/innox-bg.jpg);
}
.detail-title .title span{
    display: inline-block;
    font-size: .425rem;
    font-weight: bold;
    height: .95rem;
    line-height: .95rem;
    position: relative;
}
.detail-title .title span::after{
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -35%;
    bottom: -1px;
}
.detail-title .top-title{
    font-size: .35rem;
    height: .625rem;
    line-height: .625rem;
    margin-top: .25rem;
}
.specification{
    width: 80%;
    margin: .65rem auto;
    margin-bottom: .95rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.spec-detail{
    width: 50%;
    height: 100%;
}
table{
    font-size: .2rem;
    width: 90%;
}
td{
    padding: .175rem;
    text-align: left;
}
tr:nth-child(2n-1){
    background: #ccc;
}
table .thead{
    background: #bc261a;
    color:#fff;
    text-transform: uppercase;
}
.key-feature div{
    margin: .25rem 0;
    text-transform: uppercase;
    margin-bottom: .2rem;
    font-size: .275rem;
    font-weight: bold;
}
.key-feature ul{
    list-style: disc;
    padding: 0 10px;
    font-size: .225rem;
}
.key-feature li{
    line-height: 1.5;
}
.product-img{
    width: 34%;
    display: flex;
    align-items: center;
}
.small-big{
    width: 46%;
}
.small-long{
    width: 42%;
    padding-top:0;
}
.product-box{
    width: 100%;
    margin-top: 100px;
}
.product-desc {
    width: 100%;
    /* height: 480px; */
    display: flex;
    justify-content: space-between;
    background: #010101;
    flex-wrap: wrap;
}
.db-desc{
    margin-bottom: 150px;
    background: #fff;
}
.product-desc .left-img{
    width: 53%;
}
.product-desc .right-desc{
    width: 47%;
    background: #010101;
    padding: 0.3rem 0.7rem;
    color:#fff;
    /* font-size: 0.11rem; */
    line-height: 1.5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-desc .text-long {
    width: 47%;
    padding: 0.3rem;
}
.product-desc .right-desc p{
    line-height: 1.5;
    margin-top: 10px;
}
.product-desc .right-desc .title{
    font-size: .475rem;
    color:#bc261a;
    margin-bottom: 10px;
}
.product-desc .right-desc .title-long {
    font-size: 0.22rem;
}
.product-desc .half-width{
    width: 47%;
}
.topContainer .topImg{
    width: 50%;
    margin:0 auto;
}
.fantasy-title{
    font-size: .8rem;
    font-weight: bolder;
    color:#5A5959;
    text-align: center;
    text-transform: uppercase;
    margin-top: .5rem;
}
.iconImg {
    width: 60%;
    margin: 40px auto;
}
.icons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: .65rem;
    margin-top: .8rem;
}
.icon-box{
    text-align: center;
}
.icon-item{
    width: .65rem;
    height: .65rem;
    padding: 10px;
    border: 1px solid #68676e;
    text-align: center;
    line-height: .65rem;
    border-radius: 8px;
    margin-bottom: .125rem;
}
.icon-item .iconfont{
    color: #0f173e;
    font-size: .65rem;
}
.fantasy-detail .desc-part{
    display: flex;
    align-items: center;
}
.product-detail{
    width: 100%;
    margin-bottom: 0.3rem;
}
.ft-series .desc-part p{
    line-height: 0.24rem;
}
.hd-series .img-part img {
    width:80%;
}
.ec-series .img-part img {
    width:120%;
}
.product-detail .detail{
    width: 80%;
    height: 400px;
    margin: 2.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.half{
    width: 43%;
    height: 390px;
}
.img-part {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-part img{
    width: 90%;
    max-height: 390px;
}
.desc-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.videoContainer{
    width: 100%;
    background: #f2f2f2;
    padding: 0.5rem 0;
    text-align: center;
    padding-bottom: 0.2rem;
}
.videoBox{
    width: 90%;
    margin:0.6rem auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}
.videoItem{
    width: 30%;
}
.videoDesc{
    width: 100%;
    height: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video{
    width: 100%;
}
.desc-part .title{
    font-size: .325rem;
    padding-bottom: .5rem;
    font-weight: bold;
}
.desc-part p{
    line-height: 2;
}
.features{
    width: 100%;
    background: #bc261a;
    color:#fff;
    text-align: center;
}
.sub-title span{
    font-size: .425rem;
    position: relative;
}
.sub-title span::after{
    content: "";
    width: 70%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: .65rem;
    left: 50%;
    margin-left: -35%;
}
.iconsList {
    width: 90%;
    display: flex;
    margin: .325rem auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.iconItems{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0.4rem;
}
.icon-desc{
    text-align: center;
    width: 100%;
    margin-top: .25rem;
}
.show-cases {
    width: 100%;
    background: #010101;
    text-align: center;
    color:#fff;
}
.img-wrap {
    width: 90%;
    margin: 0.6rem auto;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img-wrap .caseItem{
    width: 48%;
    height: 350px;
    position: relative;
    overflow: hidden;
}
.caseItem .case-title {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: -100%;
    height: .5rem;
    background: #bc261a;
    opacity: 0.9;   
    line-height: .5rem;
    color:#fff;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.caseItem:hover .case-title{
    left: 0;
}
.table-detail{
    width:90%;
    margin: 0 auto;
    text-align: center;
}
.table-detail .sub-title span::after, .videoContainer .sub-title span::after{
    background: #bc261a;
}
.table-wrap{
    margin-top:0.6rem;
}
.table-wrap table{
    width: 100%;
}
.features, .show-cases, .table-detail {
    padding: .975rem 0;
}
.under-line {
    display: none;
} 
@media (max-width: 1500px){
    .container, table, .key-feature ul, td {
        font-size: 16px;
    }
    .detail-title .title span {
        font-size: 34px;
    }
    .detail-title .top-title {
        font-size: 28px;
    }
    .desc-part .title {
        font-size: 24px;
    }
    table .thead, .key-feature div  {
        font-size: 18px;
    }
    .caseItem .case-title {
        height: 50px;
        line-height: 50px;
    }
    .sub-title span {
        font-size: 34px;
    }
    .sub-title span::after {
        top: 50px;
    }
}
@media (max-width: 1024px){
    .detail-title  {
        margin-top: 60px;
    }
    /* .detail-title .title span {
        font-size: 28px;
    } */
    .detail-title .top-title {
        font-size: 22px;
    }
    .mobile-hide {
        display: none;
    }
    .product-desc .right-desc .title{
        margin-bottom: 0;
    }
    .img-wrap .caseItem{
        height: auto;
    }
}
@media (max-width: 991px){
    .detail-title {
        height: 160px;
    }
    .detail-title .top-title {
        margin-top: 0;
    }
    .detail-title .title span {
        height: 40px;
        line-height: 40px;
    }
    td{
        padding: 10px;
    }
    .features, .show-cases, .table-detail {
        padding: 40px 0;
    }
    .desc-part .title {
        padding-bottom: 10px;
        font-size: 0.2rem;
    }
    .desc-part p {
        line-height: 1.5;
    }
    .list-title {
        font-size: 18px;
    }
    .iconCricle {
        width: 34px;
        height: 34px;
        padding: 34px;
    }
    .iconCricle i {
        font-size: 34px;
    }
    .icons {
        width: 65%;
        margin: 0.8rem auto;
        margin-bottom: 0.4rem;
        margin-top: 0.5rem;
    }
    .icon-item {
        width: 0.4rem;
        height: 0.4rem;
        line-height: 0.4rem;
    }
    .icon-item .iconfont {
        font-size: 0.4rem;
    }
    .product-detail .detail {
        margin: 0 auto;
    }
    .iconImg {
        width: 80%;
    }
    .fantasy-title {
        font-size: 0.5rem;
    }
    .product-desc {
        justify-content: center;
    }
    .db-desc {
        margin-bottom: 0.5rem;
    }
    .product-desc .right-desc .title {
        font-size: 0.3rem;
    }
    .product-desc .left-img, .product-desc .right-desc {
        width: 90%;
        text-align: center;
    }
    .product-desc .left-img {
        order: 1;
    }
    .product-desc .right-desc {
        order: 2;
    }
}
@media (max-width: 768px){
    td{
        font-size: 14px;
    }
}
@media (max-width: 576px){
    .detail-title .title span {
        font-size: 24px;
    }
    .detail-title .top-title {
        margin-top: 10px;
        font-size: 18px;
    }
    .under-line {
        display: block;
        border: none;
        border-bottom: 1px solid #e1dfdf;
    }
    .specification{
        width: 90%;
        flex-wrap: wrap;
        margin-top: 0;
        justify-content: center;
        margin-bottom: 50px;
    }
    .spec-detail table{
        display: none;
    }
    .key-feature ul{
        width: 90%;
        margin: 0 auto;
        margin-left: 30px;
    }
    .key-feature li{
        margin-top:4px;
    }
    .key-feature div{
        font-size:20px;
        font-weight: bold;
        text-align: center;
    }
    .product-detail .detail{
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
    }
    .half{
        width:100%;
        height: 100%;
    }
    .topContainer .topImg{
        width: 78%;
    }
    .img-part{
        width: 80%;
        order: 1;
    }
    .img-big .img-part{
        width: 100%;
    }
    .mobile-hide{
        display: none;
    }
    .desc-part .title{
        font-size: 18px;
        margin: 20px 0;
        padding-bottom: 0;
        margin-top: 30px;
        text-align: center;
    }
    .desc-part{
        align-items: center;
        order: 2;
    }
    .table-detail{
        display: none;
    }
    .product-desc{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
    }
    .product-desc .left-img{
        width: 100%;
        overflow: hidden;
    }
    .product-desc .right-desc{
        width:100%;
    }
    .ft-series .desc-part p{
        line-height: 24px;
    }
    .icon-desc{
        font-size: 14px;
    }
    .desc-part p{
        text-align: center;
    }
    .icons{
        width: 92%;
        justify-content: space-around;
        margin-top:0.2rem;
    }
    .icon-box{
        font-size: 12px;
        text-align: center;
    }
    .product-img{
        width: 80%!important;
        order:1;
        margin-top: 20px;
    }
    .spec-detail{
        width: 100%;
        order:2
    }
    .iconCricle {
        width: 26px;
        height: 26px;
        padding: 26px;
    }
    .sub-title span{
        font-size: 24px;
    }
    .sub-title span::after{
        top: 40px;
    }
    .iconItems{
        width: 45%;
    }
    .img-wrap{
        justify-content: center;
        margin-top: 40px;
    }
    .img-wrap .caseItem{
        width: 90%;
        margin-top: 10px;
    }
    .thumb .thumb-bigger{
        width: 80%;
    }
    .product-desc .right-desc .title{
        font-size: 24px;
        font-weight: bold;
    }
   .videoContainer{
       display: none;
   }
}
