.footer{
    width: 100%;
    background: #010101;
    padding: 0.4rem 0;
    color:#fff;
    background:#111;
    position: relative;
}
.footer-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}
.footer-item{
    width: 24%;
}
.footer-item .footer-title{
    font-size: .275rem;
    margin-bottom: 10px;
    color:#bc261a;
    font-weight: bolder;
}
.footer-title a {
    color:#bc261a;
    font-weight: bolder;
    font-size: .275rem;
}
.footer-detail a{
    display: inline-block;
    color:#fff;
    line-height: 1.5;
    font-size: .1875rem;
}
.footer-detail a:not(:first-child) {
    display: flex;
}
.footer-detail .adderss{
    line-height: 18px;
    margin-top:10px;
    font-size: .1875rem;
    margin-bottom: 14px;
}
.footer-container .input-item{
    width: 35%;
}
.input-item .input-line {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
form input{
    height: .35rem;
    width: 1.5rem;
    margin-right: 6px;
    font-size: .175rem;
}
input::-webkit-input-placeholder {
    font-family: 'Calibri';
}
textarea::-webkit-input-placeholder{
    font-family: 'Calibri';
}
textarea{
    width: 3.25rem;
    margin-top: 10px;
    font-size: .175rem;
}
.foot-submit{
    width: 1rem;
    height: .375rem;
    display: block;
    background: #fff;
    margin-top:16px;
    border-radius: 6px;
    color:#000;
    text-align: center;
    line-height: .375rem;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: .175rem;
}
.foot-submit:hover{
    background: #bc261a;
    color: #fff;
}
.footer-detail .phone{
    font-size: 12px;
}
.footer-social {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 14px;
}
.footer-social a{
    width: 20%;
    color:#fff;
    font-size: 22px;
}
.copy{
    width: 100%;
    height:40px;
    line-height: 40px;
    background: #010101;
    color:#a9a5a5;
    font-size: .15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-detail .companyName{
    font-size: .1875rem;
    font-weight: bold;
}
.footer-social a i:hover{
    color:#bc261a;
}
@media (max-width: 1500px) {
    form input {
        height: 28px;
        width: 120px;
    }
    textarea{
        width: 260px;
    }
    .footer-title a, .footer-item .footer-title {
        font-size: 20px;
    }
    .footer-detail a, .footer-detail .companyName, .footer-detail .adderss, form input, textarea {
        font-size: 14px;
    }
}
@media (max-width: 1024px) {
    .footer-container{
        width: 90%;
    }
    .footer-products, .footer-gallery {
        display: none;
    }
    .footer-contact {
        width: 40%;
    }
    .footer-container{
        justify-content: space-between
    }
    .footer-container .input-item{
        width: 35%;
    }
    .footer-contact{
        width: 40%;
    }
    form input {
        height: 30px;
        margin-right: 0;
    }
    .input-line{
        display: flex;
        justify-content: space-between;
    }
    .input-line input {
        width: 46%;
    }
    .input-item .footer-title {
        margin-bottom: 20px;
    }
    .footer-container .foot-submit {
        width: auto;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    textarea {
        width: 96%;
    }
}
@media (max-width: 576px) {
    .footer-contact {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        order: 1;
    }
    .footer-container{
        flex-direction: column;
    }
    .input-item .footer-title {
        text-align: center;
    }
    .footer-container .input-item {
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
        order: 2;
    }
    .footer-social {
        justify-content: center;
        margin-bottom: 20px;
    }
    .foot-submit{
        margin: 10px auto;
    }
    .footer-detail a:not(:first-child) {
        justify-content: center;
    }
}