@charset "utf-8";
.gallery-container{
    padding-top: 1.4rem;
    background: #010101;
    color:#fff;
    height: 100%;
}
.gallery-box{
    padding: 0.4rem 0;
}
.gallery-box .head-title{
    color:#fff;
}
.gallery-wrap{
    width: 100%;
    background: #010101;
    padding-bottom: 0.4rem;
}
.gallery-list{
    width: 80%;
    margin: 0.7rem auto;
    margin-bottom: 0;
}
.gallery-item{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
}
.gallery-item:last-child{
    margin-bottom: 0;
}
.gallery-left{
    width: 45%;
    background: #bc261a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.gallery-left p, .gallery-left h3{
    margin: 20px 0;
    font-size: 0.14rem;
    color:#fff;
    padding: 0 60px;
}
.gallery-img{
    width: 55%;
    height: 100%;
}
.gallery-img img{
    width: 100%;
    height: 100%;
}
@media (max-width:767px) {
    .gallery-left p {
        padding:4px 10px;
        margin:0;
        font-size: 9px;
    }
    .gallery-left h3{
        padding: 4px 10px;
        margin: 0;
    }
    .gallery-item {
        height: 100px;
    }
    .gallery-img{
        height: 100%;
    }
    .gallery-container{
        padding-top:1rem;
    }
}
@media (min-width:768px) and (max-width:1023px) {
    .gallery-left p {
        margin:8px 0;
    }
    .gallery-item {
        height: 200px;
    }
    .gallery-container{
        padding-top:1rem;
    }
}
@media (min-width:1024px) {
    .gallery-item {
        height: 270px;
    }
}
@media (min-width:1024px) and (max-width:1119px) {
    .gallery-container{
        padding-top:1rem;
    }
}
@media (min-width:1200px) {
    .gallery-item {
        height: 330px;
    }
}
@media (min-width:1400px) {
    .gallery-item {
        height: 380px;
    }
}
@media (min-width:1500px) {
    .gallery-item{
        height: 400px;
    }
}
@media (min-width:1700px) {
    .gallery-item{
        height: 450px;
    }
}