@charset "utf-8";
.gallery-container{
    padding-top: 2.25rem;
    background: #010101;
    color:#fff;
    height: 100%;
}
.gallery-box{
    padding: 0.4rem 0;
}
.gallery-box .head-title{
    color:#fff;
}
.gallery-wrap{
    width: 100%;
    background: #010101;
    padding-bottom: 0.4rem;
}
.gallery-list{
    width: 80%;
    margin: 1.125rem auto;
    margin-bottom: 0;
}
.gallery-item{
    display:flex;
    justify-content: center;
    margin-bottom: 40px;
}
.gallery-item:last-child{
    margin-bottom: 0;
}
.gallery-left{
    width: 45%;
    background: #bc261a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.gallery-left p{
    margin: 20px 0;
    font-size: .225rem;
    color:#fff;
    padding: 0 60px;
}
.gallery-img{
    width: 55%;
    height: 100%;
}
.gallery-img img{
    width: 100%;
    height: 100%;
}
@media (max-width:1500px) {
    .gallery-container {
        padding-top: 140px;
    }
    .gallery-left p{
        font-size: 18px;
    }
}
@media (max-width:1024px) {
    .gallery-container{
        padding-top: 100px;
    }
    .gallery-list {
        margin-top: 90px;
    }
}
@media (max-width: 991px) {
    p{
        margin: 10px 0;
        padding: 0 20px;
    }
}
@media (max-width:768px) {
    .gallery-left p{
        padding: 0 20px;
        font-size: 16px;
    }
    .gallery-img{
        height: 100%;
    }
}
@media (max-width:576px) {
    .gallery-left p{
        margin: 4px 0;
    }
    .gallery-item {
        flex-direction: column;
        flex-direction: column;
    }
    .gallery-left {
        width: 100%;
        order: 1;
        padding: 12px 0;
    }
    .gallery-img {
        width: 100%;
    }
}