@charset "utf-8";
body{
    margin: 0;
}
ul.unorder-list {
    display: block;
}
ul.unorder-list li {
    list-style: desc;
}
.banner{
    max-width: 100%;
    position: relative;
    overflow-y: hidden;
    text-align: center;
    margin-top:100px;
    /* height: 600px!important; */
}
.banner ul, ol{
    list-style: none; 
    padding: 0;
}
.banner ul li {
    float: left; 
    padding: 0;
    position: relative;
    height: 7.5rem!important;
}
.banner img, .profile img{
    width: 100%;
}
.banner img {
    height: 100%;
}
.dots { position: absolute; left: 0; right: 0; bottom: 20px;}
.dots li { 
	display: inline-block; 
	width: 8px; 
	height: 8px; 
	margin: 0 8px; 
	text-indent: -999em; 
	border: 2px solid #fff; 
	border-radius: 6px; 
	cursor: pointer; 
	opacity: .4; 
	-webkit-transition: background .5s, opacity .5s; 
	-moz-transition: background .5s, opacity .5s; 
	transition: background .5s, opacity .5s;
}
.dots li.active {
	background: #fff;
	opacity: 1;
}
.profile-mobile {
    display: none;
}
.profile {
    position: relative;
}
.profile .profile-content {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    color: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile .profile-content p, .profile .profile-content span {
    font-size: .225rem;
}
.profile .profile-content .profile-dialog {
    width: 40%;
}
.profile .profile-content .profile-dialog h2 {
    margin-bottom: 0.4rem;
    font-size: .35rem;
}
.profile .profile-content .profile-dialog h2::after {
    display: block;
    content: '';
    width: 34%;
    height: 2px;
    background: #bc261a;
    margin: 10px 0;
}
.profile-content .profile-mark {
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.profile-content .profile-mark .profile-mark-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-mark-item .mark-title {
    color: #bc261a;
    font-size: .3rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.product-section {
    padding: 0.8rem 0;
}
.product-section .head-title {
    margin-bottom: 0.8rem;
}
.choose{
    width: 100%;
    background: #bc261a;
    box-sizing: border-box;
}
.choose-header a, .choose-header a:hover, .choose-header p{
    color:#fff;
}
.choose-header h2::after {
    background: #fff;
}
.iconList{
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.iconItem{
    color: #fff;
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.desc{
    text-align: center;
    position: relative;
    margin-top: .25rem;
}
.desc .title{
    font-size: .325rem;
    font-weight: bold;
    margin-bottom: 40px;
    line-height: 44px;
}
.desc .title::after{
    content:'';
    display: block;
    width: 36%;
    position: absolute;
    border: 1px solid #fff;
    left: 50%;
    margin-left: -18%;
}
.desc .half-title::after {
    width: 26%;
    margin-left: -13%;
}
.customer{
    margin: 0 auto;
    /* padding-top: 0.5rem;
    padding-bottom: 0.1rem; */
    background: #f2f2f2;
}
#customer-box {
    width: 100%;
    height: 100%;
    /* margin-top: 0.5rem; */
    position: relative;
    overflow: auto;    
}
#customer-box ul li{
    float: left;
    width: 100%;
    height: 400px;
    padding-top: 0.3rem;
    box-sizing: border-box;
    text-align: center;
}
#customer-box .dots {
    text-align: center;
}
#customer-box .dots li { 
    border: 1px solid rgba(0,0,0,.4); 
}
#customer-box .dots li.active {
    background: #bc261a;
    border: 1px solid #bc261a; 
}
.quote{
    width: 70%;
    margin: 0 auto;
}
.quote-content i{
    vertical-align: bottom;
    display: inline-block;
}
.quote-content .left-icon{
    text-indent: -40px;
}
.quote .quote-content {
    display: inline-block;
    line-height: 30px;
}
.author{
    margin-top: 0.5rem;
    font-size: 16px;
}
.caseStudy{
    width: 100%;
    background:#fff;
}
.case-list{
    width: 90%;
    margin: 0.3rem auto;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-bottom: 0;
}
.case-item{
    width: 32%;
    height: 100%;
    margin-top:0.24rem;
    position: relative;
    overflow: hidden;
}
.case-list .case-thumb{
   display: inline-block;
   width: 100%;
   height: 300px;
}
.case-list .case-thumb img{
    width: 100%;
    height: 100%;
}
.case-list .case-title {
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height:46px;
    line-height: 46px;
    opacity: .9;
    color:#fff;
    font-size: .225rem;
    text-align: center;
    font-weight: 550;
    background:#bc261a;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.case-list .case-item:hover .case-title{
    left:0;
}
.news-list{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-top:0.2rem;
}
.news-list .news-item{
    width: 31%;
    height: 100%;
    margin-top:0.3rem;
    position: relative;
    overflow: hidden;
}
.news-list .news-thumb{
    display: inline-block;
    width: 100%;
    max-height: 3.1rem;
    overflow: hidden;
}
.news-thumb img{
    width: 100%;
    height: auto;
}
.news-detail{
    width: 100%;
}
.news-detail .news-title h3{
    font-size: .25rem;
    display: block;
    margin-top:10px;
    font-weight: 580;
}
.news-detail .date{
    color:#666;
    font-size: .175rem;
    margin-bottom: 10px;
    margin-top:10px;
}
.news-detail .news-desc{
    line-height: 1.5;
    font-size: .2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.under-line {
    display: none;
}
.contact-detail {
    margin-bottom: 0;
    background: #fff;
}
.date{
    padding: 0 10px;
}
.container .detail-section .inquery {
    width: 2rem;
    margin-top: .5rem;
    font-weight: 800;
}
.detail-section {
    padding-top: 0;
}
.contact-body {
    margin-top: 0;
}
.img-box {
    margin-right: 0;
    width: 8rem;
}
.img-box .img {
    width: 8rem;
}
.img-list {
    width: 7.98rem;
}
@media (min-width: 1025px) and (max-width:1400px) {
    .case-list .case-thumb{
        height: 240px;
     }
}
@media (max-width: 1500px){
    .banner ul li {
        height: 600px!important;
    }
    .profile .profile-content p, .profile .profile-content span, .case-list .case-title {
        font-size: 18px;
    }
    .profile .profile-mark-item .mark-title {
        font-size: 24px;
    }
    .profile .profile-content .profile-dialog h2 {
        font-size: 26px;
    }
    .news-detail .news-title h3 {
        font-size: 20px;
    }
    .news-detail .news-desc {
        font-size: 16px;
    }
    .news-detail .date {
        font-size: 14px;
    }
}
@media (max-width: 1200px){
    .banner ul li {
        height: 500px!important;
    }
    .news-list .news-thumb{
        height: 200px;
    }
    .banner {
        margin-top:60px;
    }
    .author{
        margin-top:0.2rem;
    }
}
@media (max-width: 1024px){
    .banner ul li {
        height: 400px!important;
    }
    .profile .profile-content p, .profile .profile-content span{
        font-size: 16px;
    }
    .profile .profile-mark-item .mark-title {
        font-size: 20px;
    }
    .profile .profile-content .profile-dialog h2 {
        font-size: 22px;
    }
    .brief {
        padding-top: 0!important;
    }
    .iconItem{
        width: 45%;
        margin-bottom: 30px;
    }
    .iconCricle {
        width: 34px;
        height: 34px;
        padding: 34px;
    }
    .iconCricle i {
        font-size: 34px;
    }
    .case-item{
        width: 45%;
        margin: 26px auto;
        margin-bottom: 0;
    }
    .case-list .case-title {
        left: 0;
    }
    .case-list .case-thumb{
        height: 200px;
    }
    #customer-box ul li {
        display: flex;
        align-content: center;
        padding-top: 0;
    }
    .quote {
        width: 82%;
        margin-top: 5%;
    }
    .desc .title {
        font-size: 24px;
    }
    .desc .title::after {
        width: 24%;
        margin-left: -12%;
    }
    .desc .half-title::after {
        width: 24%;
        margin-left: -12%;
    }
    .news-list .news-thumb{
        height: 150px;
    }
    .date {
        padding: 0 10px;
    }
}
@media (max-width: 992px){
    .profile .profile-content {
        padding: 20px;
    }
    .profile .profile-content .profile-dialog {
        width: 42%;
    }
    .profile .profile-content .profile-dialog h2 {
        margin-bottom: 0;
        font-size: 20px;
    }
    .profile-mark-item .mark-title {
        font-size: 16px;
    }
    .profile .profile-content p, .profile .profile-content span{
        font-size: 14px;
    }
    .news-list .news-thumb{
        height: 1.2rem;
    }
    .iconItem {
        margin-top: 30px;
    }
    .desc {
        margin-top: 0;
    }
    .product-section {
        padding: 0.4rem 0;
    }
    .product-section .head-title {
        margin-bottom: 0.4rem;
    }
}
@media (max-width: 768px) {
    .news-list .news-item:last-child{
        border-bottom: none;
        padding-bottom: 0;
    }
    .case-list .case-title {
        left: 0;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .quote .quote-content{
        line-height: 20px;
    }
    .quote .author {
        font-size: 14px;
    }
    .desc .title{
        font-size: 20px;
        margin: 20px 0;
    }
    .case-list .case-title{
        font-size: 16px;
    }
    #customer-box ul li{
        height: 300px;
    }
}
@media (max-width: 576px) {
    .banner ul li {
        height: 240px!important;
    }
    .under-line {
        display: block;
        margin-top: 20px;
    }
    .news-list, .iconList {
        justify-content: center;
    }
    .case-item, .news-list .news-item, .iconItem {
        width: 90%;
    }
    .news-list .news-thumb {
        height: auto;
    }
    .profile, .dots {
        display: none;
    }
    .profile-mobile {
        display: block;
        color: #fff;
        background: #000;
        padding: 20px 0;
    }
    .profile-mobile .profile-content .profile-mark {
        width: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
    }
    .profile-mobile .profile-mark-item span {
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
    }
    .profile-mobile p {
        margin: 30px auto;
        width: 90%;

    }
}