/* -----------留言板------------ */
.message-box {
    width: 5.625rem;
    height: 100%;
    background: #f2f2f2;
    margin-top: .5rem;
    border-radius: 6px;
}

.message-wrapper {
    padding: .75rem .625rem;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px #653632;
    border-radius: 6px;
}

.message-wrapper p {
    margin-bottom: 0 !important;
}

.message-wrapper .quote-title {
    font-size: .325rem;
    font-weight: bold;
    margin-bottom: .375rem !important;
    /* color:#e50000; */
}

.message-wrapper input,
.message-wrapper textarea {
    background: #fff;
    width: 100%;
    margin-bottom: .2rem;
    padding: 0 4px;
    color: #666;
    font-size: .2rem;
    border: none;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
}

.message-wrapper input {
    height: .45rem;
}

.message-wrapper textarea {
    margin-top: 0;
}

.message-wrapper input::-webkit-input-placeholder {
    color: #666;
}

.message-wrapper textarea::-webkit-input-placeholder {
    color: #666;
}

.fix {
    position: fixed;
    right: 5%;
    /* right: 0; */
    top: 10%;
    height: auto;
}

.submit {
    width: 1rem;
    height: .375rem;
    display: block;
    background: #fff;
    margin-top: .2rem;
    border-radius: 6px;
    color: #000;
    text-align: center;
    line-height: .375rem;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: .2rem;
}

/* 响应式 */
@media(max-width:1200px) {
    .message-box {
        display: none;
    }
}
/* @media(max-width:1500px) {
    .fix {
        max-width: 367px;
        top: 8%;
    }

    .message-box {
        width: 367px;
    }
}

@media (min-width:1401px) {
    .product-banner {
        height: auto;
    }

    .content-container {
        margin-bottom: 0.3rem;
    }
}

@media (max-width:1200px) {

    .product-banner {
        height: auto;
        margin-top: 0;
    }

    .sort-detail p {
        margin: 10px 0;
        line-height: 30px;
        font-size: 14px;
    }

    .product-img a img {
        transform: scale(0.5);
    }

    .product-img a .long-img {
        transform: scale(0.4);
    }

    .sub-title h3 {
        font-size: 28px;
    }

    .message-box {
        display: none;
    }

    .content {
        width: 100%;
    }

    .img-box {
        height: auto;
    }

    .specification {
        width: 95%;
    }

}

@media (max-width:1000px) {
    .product-img a img {
        transform: scale(0.6);
    }

    .product-img a .long-img {
        transform: scale(0.5);
    }
}

@media (max-width:800px) {
    .key-feature {
        display: none
    }

    table {
        font-size: 14px;
    }

    table .thead {
        font-size: 14px;
    }

    .series-title {
        font-size: 0.2rem;
        margin-bottom: 10px;
    }

    .spec-detail {
        width: 54%;
    }

    .read-more {
        display: none;
    }

    .img-cover {
        font-size: 30px;
    }

}

@media (max-width:500px) {
    .product-banner {
        height: 200px;
    }

    .sort-item {
        flex-wrap: wrap;
    }

    .sort-img {
        width: 100%;
    }

    .sort-detail {
        width: 100%;
    }

    .sub-title h3 {
        font-size: 20px;
        margin-top: 20px;
    }

    .read-more {
        font-size: 12px;
    }

    .specification {
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-img {
        width: 60%;
    }

    .spec-detail {
        width: 100%;
        margin-top: 20px;
        align-items: center;
    }

    .series-title {
        font-size: 20px;
        margin: 20px;
    }

    .series-title a {
        font-weight: bolder;
    }

    .img-cover {
        width: 60%;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }

    .title {
        font-size: 28px;
        margin-top: 20px;
    }

    .content h3 {
        font-size: 24px;
    }
} */