@charset "utf-8";
/* 公共 */
img {
    width: 100%;
}
.new-product-container .spec-content p {
    margin-bottom: 20px;
}
.new-product-container .series-border-button {
    border: 1px solid #bc261a;
    padding: 10px 30px;
    text-align: center;
    margin: 20px 0 12px 0;
    border-radius: 4px;
    color: #bc261a;
    cursor: pointer;
}
.new-product-container .series-border-button:hover{
    color: #fff;
    background: #bc261a;
}
/* banner */
.new-product-container .product-banner {
    margin-top: 100px;
    width: 100%;
    height: 500px;
    position: relative;
}

.new-product-container .product-banner img, .new-product-container .product-banner .img-cover, .new-product-container .product-banner .text-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.new-product-container .product-banner .img-cover {
    background: rgba(0, 0, 0, 0.5);
}
.new-product-container .product-banner .text-cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255,255,255);
}
.new-product-container .product-banner .text-cover h1{
    font-size: 46px;
    font-weight: bold;
}
.new-product-container .product-banner .text-cover span{
    font-size: 20px;
    margin: 20px 0;
}
.new-product-container .border-button {
    width: 200px;
    height: 50px;
    padding: 10px 30px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.new-product-container .spec-content {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
}
/* blog中的特定样式 */
.new-product-container .application-blog {
    justify-content: flex-start;
}
.new-product-container .content {
    width: 90%;
    padding: 60px 0;
}
.new-product-container .spec-content h2 {
    font-size: 30px;
    margin-bottom: 60px;
    font-weight: 800;
    text-align: center;
}
.new-product-container .text-container {
    background: #f2f2f2;
}
.new-product-container .text-content h2 {
    text-align: left;
    margin-bottom: 30px;
}
.new-product-container .text-content p {
    line-height: 1.6;
    margin-bottom: 12px;
}
.new-product-container .series-list-content .series-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.new-product-container .series-list-content .series-item {
    width: 30%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 16px 10px rgba(105, 105, 105, .1);
    margin-bottom: 60px;
    padding: 50px 20px 20px;
    box-sizing: border-box;
}
.new-product-container .series-list-content .series-item .img-box {
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-product-container .series-list-content .series-item img {
    width: 100%;
    /* min-height: 250px; */
    max-height: 300px;
}
.new-product-container .series-list-content .series-box .title-box-change {
    width: 100%;
    height: 45px;
    position: relative;
    margin: 50px 0 16px 0;
}
.new-product-container .series-list-content .series-item h3 {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    font-weight: 800;
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 45px;
}
.title-border-button {
    border: 1px solid #bc261a;
    text-align: center;
    margin: 20px 0 12px 0;
    border-radius: 4px;
    color: #fff;
    background: #bc261a;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    display: none;
    font-size: 20px;
    font-weight: 800;
    line-height: 45px;
}
.new-product-container .series-list-content .title-box-change:hover h3 {
    display: none;
}
.new-product-container .series-list-content .title-box-change:hover .title-border-button {
    display: block;
}
.new-product-container .series-list-content .series-item p {
    text-align: center;
    font-size: 16px;
}
/* icon */
.new-product-container .icon-content {
    background: #bc261a;
    color: #fff;
}
.new-product-container .icon-list-content {
    width: 98%;
}
.new-product-container .icon-content h2 {
    color: #fff;
}
.iconList{
    width: 98%;
    display: flex;
    margin: 0.5rem auto;
    margin-bottom: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.iconItem{
    width:24%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconCricle {
    padding: 38px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconItem .icon{
    width: 80px;
    height: 80px;
    margin-bottom: 38px;
    
}
.new-product-container .iconCricle i {
    font-size: 45px;
}
.icon img{
    width: 100%;
    height: 100%;
}
.desc{
    text-align: center;
    position: relative;
}
.desc .title{
    font-size: 26px;
    height: 64px;
    line-height: 64px;
    font-weight: bold;
}
.desc .icon-part{
    line-height: 20px;
    height: 100%;
    font-size: 16px;
    line-height: 1.6;
    /* text-align: left; */
}
/* LED Stage Screen Applications */
.new-product-container .application-content {
    /* background-color: #ddd; */
}
.new-product-container .application-blog .content {
    padding: 0;
    width: 100% !important;
}
.application-content .application-list{
    width: 96%;
}
.application-content .application-item{
    background: #fff;
    min-height: 350px;
    display: flex;
    padding: 20px;
    box-shadow: 0 0 16px 10px rgba(105, 105, 105, .1);
    margin-bottom: 20px;
    border-radius: 10px;
}
.application-content .application-item img {
    width: 40%;
}
.application-content .application-item .application-right {
    margin-left: 20px;
    /* display: flex; */
    flex: 1;

}
.application-content .application-item .title {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 30px;
}
.application-content .application-item  p {
    margin: 8px 0 10px 0;
}
.application-content .series-border-button {
    width: 200px;
}
/* 特殊部分 */
.application-content .events-vertical  {
    display: flex;
    justify-content: space-between;
}
.application-content .events-vertical .application-item  {
    width: 46%;
    flex-direction: column;
}
.application-content .events-vertical .application-item img {
    width: 100%;
}
.application-content .events-vertical .application-item .title {
    margin-top: 30px;
}
/* why choose */
.new-product-container .choose-content {
    background: #f2f2f2;
}
.choose-content .img-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.choose-content .img-box img {
    width: 49%;
}
/* blog */
.new-product-container .blog-content {
    width: 94%;
    justify-content: flex-start;
    margin: 0 auto;
}
.new-product-container .blog-content .content {
    width: 70%;
}
.new-product-container .blog-content .img-box{
    width: 90%;
    margin: 30px auto;
}
.new-product-container .blog-content .chapter-box {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #bc261a;
    /* margin: 80px 0; */
}
/* .new-product-container .blog-content .chapter-box ul {
    margin: 20px 0;
} */
.new-product-container .blog-content .chapter-box i {
    color: #bc261a;
}
.new-product-container .blog-content .chapter-box li {
    margin-bottom: 20px;
}
.new-product-container .blog-content .chapter-title {
    font-size: 26px;
    margin: 30px 0;
    font-weight: 800;
}
.contact-banner {
    position: relative;
}
.contact-banner img {
    width: 100%;
}
.contact-banner-content {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    color: #fff;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact-banner-content .contact-banner-dialog {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.contact-banner-content .contact-banner-dialog p {
    font-size: 30px;
    font-weight: 800;
    
}
.contact-banner-content .contact-banner-mark {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contact-banner-button {
    cursor: pointer;
    font-size: 24px;
    padding: 20px 40px;
    border: 2px solid #bc261a;
    color: #fff;
    font-weight: bold;
}
.contact-banner-button:hover {
    color: #fff;
    background: #bc261a;
}
/* for-events推荐产品部分样式 */
.new-product-container .events-recommend .events-recommend-box {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}
.events-recommend .events-recommend-box .specification {
    width: 30%;
    margin-right: 3%;
    box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    margin-top: 40px;
    position: relative;
}
.events-recommend .events-recommend-box .product-img {
    position: relative;
}
.events-recommend .events-recommend-box .product-img > a:first-child {
    display: block;
    width: 100%;
    /* height: 350px; */
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.events-recommend .events-recommend-box .product-img a img {
    /*transform: scale(0.6); */
    width: 80%;
}
.events-recommend .events-recommend-box .icon-new {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 12px;
    border: 20px solid #bc261a;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
}
.events-recommend .events-recommend-box .icon-new .icon-content {
    position: absolute;
    display: inline-block;
    transform: rotate(-45deg);
    left: -20px;
    top: -14px;
}
.events-recommend .events-recommend-box .spec-title {
    display: block;
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    text-align: center;
    background: #595a58;
    font-size: 0.2rem;
    color: #fff;
    font-weight: bold;
}
.events-recommend .events-recommend-box .spec-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /* background: red; */
    background: rgba(188,38,26,.7);
    /* display: none; */
    color: #fff;
    padding: 0.2rem;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    box-sizing: border-box;
    display: none;
}
.events-recommend .events-recommend-box .spec-detail .series-title {
    margin: 0.1rem 0;
    font-weight: bold;
    text-align: center;

}
.events-recommend .events-recommend-box .spec-detail p {
    margin-bottom: 6px;
}
.events-recommend .events-recommend-box .spec-detail ul {
    list-style: disc;
    padding: 0 0.1rem;
    margin-top: 10px;
}
.events-recommend .events-recommend-box .spec-detail ul li {
    margin-bottom: 6px;
}
.events-recommend .events-recommend-box .product-img:hover .spec-detail{
    display: flex;
}
.events-recommend .events-recommend-box .product-img:hover .spec-title{
    background: #fff;
    color: #fff;
}