@charset "utf-8";
img{
    width: 100%;
    height: 100%;
}
.news-container{
    margin-top: 2.25rem;
}
.news-list{
    width: 80%;
    margin: 0 auto;
}
.content-box{
    margin: 1.125rem 0 20px 0;
}
.pagination-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#pagination {
    margin: 0 20px;
}
.pagination-controls button {
    width: 20px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    color: #2b1fca;
    cursor: pointer;
}
.pagination-controls button.active {
    color: #bc261a;
}
.pagination-controls button.disabled {
    color: #999;
    cursor: not-allowed;
}
.pagination-controls .prev-page, .pagination-controls .next-page {
    width: auto;
}
.news-item{
    width: 100%;
    padding: .3125rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content:space-between;
}
.last{
    border-bottom: none;
}
.news-item:first-child {
    padding-top: 0;
}
.news-item .news-img{
    display: block;
    width: 20%;
    margin-right: 20px;
    height: auto;
    max-height: 1.875rem;
}
.news-img .img-wrap{
    width: 100%;
    height: 100%;
}
.news-item .desc {
    width: 78%;
}
.desc .news-title{
    display: flex;
    justify-content: space-between;
}
.desc .news-title h2{
    font-size: .275rem;
    margin-bottom: 10px;
}
.news-title a:hover{
    color:#bc261a;
    text-decoration: underline;
}
.news-title .date{
    color:#999;
    font-size: .175rem;
}
.desc .detail{
    font-size: .2rem;
    margin-bottom: .15rem;
    color:#666;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.desc .more{
    font-size: .2rem;
}
.desc .more a:hover{
    color:#bc261a;
}
@media (max-width: 1500px){
    .news-container {
        margin-top:140px;
    }
    .desc .news-title h2 {
        font-size: 20px;
    }
    .desc .detail {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .news-title .date {
        font-size: 14px;
    }
    .desc .more {
        font-size: 16px;
    }
}
@media (max-width: 1024px){
    .news-container {
        margin-top:100px;
    }
    .news-list {
        width: 94%;
    }
    img {
        height: auto;
    }
}
@media (max-width: 991px){
    .content-box {
        margin: 60px 0 32px 0;
    }
}
@media (max-width: 768px){
    .desc .news-title h2 {
        width: 80%;
    }
    .desc .news-title a, .desc .detail a{
        display: inline-block;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}