img{
    width: 100%;
    margin: 20px 0;
}
/* h2 {
    font-size: .3rem;
    margin-bottom: 20px;
} */
.news-detail a {
    color: blue;
}
.news-detail {
    margin-top: 2rem;
    margin-bottom: .675rem;
}
.content{
    width: 80%;
    margin: 0 auto;
}
.news-title{
    text-align: center;    
    padding-bottom: 0.2rem;
    border-bottom: 1px dotted #ccc;
}
.news-title>h1{
    font-size: .45rem;
    color:#000;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
}
.news-title .sub-title{
    font-weight:normal;
    font-size: .225rem;
    color:#666;
    padding-top: .325rem;
}
.content-box{
    margin-top: 20px;
    font-size: .225rem;
    justify-content: center;
}
.content-box h2 {
    font-size: .225rem;
}
.content-box p, .content-box strong, .content-box h2 {
    line-height: 1.5;
    margin-bottom: .325rem;
}
.content-box .img-box{
    width: 50%;
    margin: 0 auto;
    margin-bottom: .325rem;
}
.img-wrap {
    margin: 0 2%;
}
.content-box .several-imgs {
    width: 90%;
    height: 300px;
   display: flex;
   justify-content: space-between;
}
.several-imgs img{
    width: 48%;
    max-height: 100%;
}
.related-news{
    width:80%;
    margin:0.5rem auto;
    font-size: 0.13rem;
    font-weight: bold;
}
.related-news h3{
    margin-bottom: .325rem;
    font-size: .225rem;
}
.related-news span{
    color: #bc261a;
}
.related-news a{
    display: inline-block;
    margin-left: 10px;
    color: blue;
}
.related-news a:hover{
    color: #bc261a;
}
@media (max-width:1500px){
    /* h2 {
        font-size: 22px;
    } */
    .news-detail {
        margin-top: 140px;
    }
    .news-title>h1 {
        font-size: 32px;
    }
    .news-title .sub-title {
        font-size: 16px;
    }
    .content-box, .related-news h3, .content-box h2{
        font-size: 18px;
    }
}
@media (max-width:1024px){
    .content-box .img-box{
        width: 80%!important;
    }
    .img-wrap {
        width: 100% !important;
        margin: 20px 0;
    }
    .news-detail {
        margin-top: 100px;
    }
    .content-box .several-imgs {
        align-items: center;
        max-height: 200px;
        overflow: hidden;
    }
}
@media (max-width: 991px){
    .news-detail {
        margin-bottom: 40px;
    }
    .related-news h3 {
        margin-bottom: 20px;
    }
}
@media (max-width:576px){
    .content-box .img-box{
        width: 100%!important;
    }
    .news-title>h1{
        width: 100%;
    }
    .content-box, .content-box h2{
        font-size: 16px;
        line-height: 30px;
    }
    .content-box .several-imgs {
        max-height: 80px;
    }
    .related-news{
        width: 90%;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .related-news h3{
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
    }
    .news-title>h1{
        font-size: 22px;
    }
    .news-title .sub-title{
        font-size: 14px;
    }
}