@charset "utf-8";
/* 产品总页 */
.sort-box {
    padding-top: 1.125rem;
    font-size: .225rem;
}
.sort-list{
    width: 90%;
    margin: .95rem auto;
    margin-top: 1.6rem;
}
.sort-item{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    margin: .8rem 0;
}
.sort-img{
    width: 48%;
    display: flex;
    align-items: center;
}
.sort-img img{
    width: 100%;
    height: 100%;    
}
.sort-detail{
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:center;
}
.sort-detail p{
    line-height: 2;
    margin: .5rem 0;
}
.sub-title h2{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.sub-title h3{
    font-size: .375rem;
}
.sub-title h3 a:hover{
    color: #bc261a;
}
.product-banner{
    margin-top: 1.25rem;
    width: 100%;
    /* height: 6.25rem; */
    position: relative;
}
.img-cover{
    width: 5rem;
    height: .75rem;
    text-align: center;
    background: rgba(255,255,255,.5);
    color:#bc261a;
    position: absolute;
    bottom: 30px;
    left: 0;
    font-size: 0.36rem;
    font-weight: bolder;
    line-height: .75rem;
}
.product-banner img{
    width: 100%;
    height: 100%;
}
/* 新样式 */
.spce-container {
    width: 90%;
    margin: 0.9rem auto;
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 1.2rem; */
}
.specification {
    width: 31%;
    margin-right: 2%;
    box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    margin-top: 0.6rem;
    position: relative;
}
.product-img {
    position: relative;
}
.product-img > a:first-child {
    display: block;
    width: 100%;
    height: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img a img {
    width: 80%;
}
.icon-new {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 12px;
    border: 20px solid #bc261a;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
}
.icon-new .icon-content {
    position: absolute;
    display: inline-block;
    transform: rotate(-45deg);
    left: -20px;
    top: -14px;
}
.spec-title {
    display: block;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: #595a58;
    font-size: .3rem;
    color: #fff;
    font-weight: bold;
}
.spec-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(188,38,26,.7);
    color: #fff;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    display: none;
}
.spec-detail .series-title {
    margin: 0.3rem 0;
    font-weight: bold;
    text-align: center;
    font-size: .36rem;

}
.spec-detail p {
    margin-bottom: 6px;
    font-size: .23rem;
}
.spec-detail ul {
    list-style: disc;
    padding: 0 0.1rem;
    margin-top: 10px;
    font-size: .23rem;
}
.spec-detail ul li {
    margin-bottom: 6px;
}
.product-img:hover .spec-detail{
    display: flex;
}
.product-img:hover .spec-title{
    background: #fff;
    color: #fff;
}
/* --------内容样式---------- */

.content-container{
    width: 88%;
    margin: 0.4rem auto;
    display: flex;
    justify-content: space-between;
}
.blog-content{
    margin-top: 1.5rem;
}
.title{
    font-size: .43rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #000;
}
.date{
    padding: 40px 10px;
    padding-top:0
}
.date span{
    display: inline-block;
    margin-right: 10px;
}
.date i{
    color:#bc261a;
}

.content {
    width: 57%;
    color:#222831;
    font-size: .23rem;
}
.content p{
    line-height: 34px;
    margin-bottom: 20px;
}
.content span{
    line-height:34px;
}
.content p a{
   color:#2b1fca
}

.img-box{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.img-box img{
    width: 100%;
    height: 100%;
}
.chapter-box{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #bc261a;
}
.content-container ul{
    margin-bottom: 20px;
}
.content-container li{
    margin-bottom: 10px;
}
.chapter-box li i, .list i{
    color: #bc261a;
    font-size: 12px;
    display: inline-block;
    margin-right: 6px;
}
.chapter-title{
    margin: 50px 0;
}
.content h3{
    font-weight: bold;
    font-size: 0.35rem;
}
.list i{
    font-size: 14px;
}
.content .sub-title{
    margin-bottom: 10px;
    margin-top:30px;
}

@media (max-width: 1500px) {
    .blog-content {
        margin-top: 100px;
    }
    .blog-content .content {
        margin-top: 50px;
        font-size: 18px;
    }
    .blog-content .title {
        font-size: 28px;
    }
    .sort-box {
        padding-top: 86px;
        font-size: 18px;
    }
    .sort-list {
        margin-top: 124px;
        margin-bottom: 84px;
    }
    .sort-item {
        margin: 64px 0;
    }
    .sub-title h3 {
        font-size: 30px;
    }
    .content {
        font-size: 18px;
    }
}
@media (max-width: 1199px) {
    .blog-content {
        margin-top: 60px;
    }
    .blog-content .content, .content {
        width: 100%;
    }
    .title {
        font-size: 26px;
    }
    .content h3 {
        font-size: 22px;
    }
}
@media (max-width: 1024px) {
    .sort-box {
        font-size: 16px;
    }
    .sub-title h3 {
        font-size: 26px;
    }
    .sort-detail p {
        margin: 10px 0;
        line-height: 30px;
    }
    .sort-detail .read-more {
        font-size: 18px;
    }
    .specification {
        width: 45%;
    }
    .img-cover {
        width: 400px;
        height: 60px;
        bottom: 30px;
        font-size: 34px;
        line-height: 60px;
    }
    .product-img > a:first-child {
        height: 350px;
    }
    /* .product-img a img {
        transform: scale(0.5);
    } */
    .spec-title {
        height: 50px;
        line-height: 50px;
        font-size: 22px;
    }
}
@media (max-width: 991px) {
    .product-banner {
        margin-top: 60px;
        height: auto;
    }
    .blog-content .title {
        font-size: 24px;
    }
    /* .product-img a img {
        transform: scale(0.7);
    } */
    .spce-container {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@media (max-width: 768px){
    .blog-content, .product-banner {
        margin-top: 0;
    }
    .sort-detail .read-more {
        display: none;
    }
    .sort-list {
        margin-top: 90px;
    }
}
@media (max-width: 576px){
    .specification {
        width: 90%;
    }
    .spce-container {
        margin-right: 0;
    }
    .sort-item {
        flex-wrap: wrap;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .sub-title h3 {
        font-size: 24px;
    }
    .sort-img, .sort-detail {
        width: 100%;
    }
    .sort-detail {
        margin-top: 20px;
    }
    .sort-list {
        margin-bottom: 0;
    }
    .product-img > a:first-child {
        height: 240px;
    }
    .img-cover {
        width: 250px;
        height: 50px;
        bottom: 30px;
        font-size: 22px;
        line-height: 50px;
    }
    .product-img a img {
        transform: scale(0.8);
    }
    .spec-title {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    .chapter-title {
        margin: 30px 0;
    }
    .content .sub-title {
        font-size: 18px;
    }
    .title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .content p {
        font-size: 16px;
        line-height: 1.5;
    }
}

