@charset "utf-8";
/* 产品总页 */
img {
    width: 100%;
}
.new-product-container .product-banner {
    overflow-y: hidden;
    margin-top: 100px;
}
.sort-box {
    padding-top: 1.125rem;
    font-size: .225rem;
}
.sort-list{
    width: 90%;
    margin: .95rem auto;
    margin-top: 1.6rem;
}
.sort-item{
    width: 100%;    
    display: flex;
    justify-content: space-between;
    margin: .8rem 0;
}
.sort-img{
    width: 48%;
    display: flex;
    align-items: center;
}
.sort-detail{
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:center;
}
.sort-detail p{
    line-height: 2;
    margin: .5rem 0;
}
.sub-title h2{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.sub-title h3{
    font-size: .375rem;
}
.sub-title h3 a:hover{
    color: #bc261a;
}
/* --------内容样式---------- */

.content-container{
    width: 88%;
    margin: 0.4rem auto;
    display: flex;
    justify-content: space-between;
}
.blog-content{
    margin-top: 1.5rem;
}
.title{
    font-size: .43rem;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #000;
}
.date{
    padding: 40px 10px;
    padding-top:0
}
.date span{
    display: inline-block;
    margin-right: 10px;
}
.date i{
    color:#bc261a;
}

.content {
    width: 57%;
    color:#222831;
    font-size: .23rem;
}
.content p{
    line-height: 34px;
    margin-bottom: 20px;
}
.content span{
    line-height:34px;
}
.content p a{
   color:#2b1fca
}

.img-box{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.chapter-box{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #bc261a;
}
.content-container ul{
    margin-bottom: 20px;
}
.content-container li{
    margin-bottom: 10px;
}
.chapter-box li i, .list i{
    color: #bc261a;
    font-size: 12px;
    display: inline-block;
    margin-right: 6px;
}
.chapter-title{
    margin: 50px 0;
}
.content h3{
    font-weight: bold;
    font-size: 0.35rem;
}
.list i{
    font-size: 14px;
}
.content .sub-title{
    margin-bottom: 10px;
    margin-top:30px;
}

@media (max-width: 1500px) {
    .spec-detail .series-title {
        font-size: 28px;
    }
    .blog-content {
        margin-top: 100px;
    }
    .blog-content .content {
        margin-top: 50px;
        font-size: 18px;
    }
    .blog-content .title {
        font-size: 28px;
    }
    .sort-box {
        padding-top: 86px;
        font-size: 18px;
    }
    .sort-list {
        margin-top: 124px;
        margin-bottom: 84px;
    }
    .sort-item {
        margin: 64px 0;
    }
    .sub-title h3 {
        font-size: 30px;
    }
    .content {
        font-size: 18px;
    }
}
@media (max-width: 1199px) {
    .blog-content {
        margin-top: 60px;
    }
    .blog-content .content, .content {
        width: 100%;
    }
    .title {
        font-size: 26px;
    }
    .content h3 {
        font-size: 22px;
    }
}
@media (max-width: 1024px) {
    .new-product-container .product-banner {
        margin-top: 60px;
    }
    .sort-box {
        font-size: 16px;
        padding-top: 50px;
    }
    .sub-title h3 {
        font-size: 26px;
    }
    .sort-detail p {
        margin: 10px 0;
        line-height: 30px;
    }
    .sort-detail .read-more {
        font-size: 18px;
    }
}
@media (max-width: 991px) {
    .blog-content .title {
        font-size: 24px;
    }
}
@media (max-width: 768px){
    .sort-detail .read-more {
        display: none;
    }
    .sort-list {
        margin-top: 90px;
    }
}
@media (max-width: 576px){
    .sort-item {
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 0;
    }
    .sort-item:last-child {
        margin-bottom: 30px;
    }
    .sub-title h3 {
        font-size: 24px;
    }
    .sort-img, .sort-detail {
        width: 100%;
    }
    .sort-detail {
        margin-top: 20px;
    }
    .sort-list {
        margin-bottom: 0;
    }
    .img-cover {
        width: 250px;
        height: 50px;
        bottom: 30px;
        font-size: 22px;
        line-height: 50px;
    }
    .chapter-title {
        margin: 30px 0;
    }
    .content .sub-title {
        font-size: 18px;
    }
    .title {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .content p {
        font-size: 16px;
        line-height: 1.5;
    }
}

