.new-product-container .product-banner {
    margin-top: 100px;
    width: 100%;
    height: 6.25rem;
    position: relative;
}
.new-product-container .product-banner img,
.new-product-container .product-banner .img-cover,
.new-product-container .product-banner .text-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.new-product-container .product-banner .img-cover {
    background: rgba(0, 0, 0, 0.5);
}
.new-product-container .product-banner .text-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}
.new-product-container .product-banner .text-cover h1 {
    font-size: .58rem;
    font-weight: bold;
}
.new-product-container .product-banner .text-cover span {
    font-size: 0.26rem;
    margin: .26rem 0;
}
.new-product-container .border-button {
    width: 2.5rem;
    height: 0.62rem;
    padding: 0.15rem 0.38rem;
    border: 2px solid #fff;
    text-align: center;
    line-height: 0.62rem;
    margin-top: 0.13rem;
    font-weight: bold;
    font-size: 0.25rem;
}
/* 新样式 */
.spce-container {
    width: 90%;
    margin: 0.9rem auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* margin-bottom: 1.2rem; */
}
.specification {
    width: 31%;
    margin-right: 2%;
    box-shadow: 0 0 10px rgb(0 0 0 / 16%);
    margin-top: 0.6rem;
    position: relative;
}
.product-img {
    position: relative;
}
.product-img > a:first-child {
    display: block;
    width: 100%;
    height: 5.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img a img {
    width: 80%;
}
.icon-new {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 12px;
    border: 20px solid #bc261a;
    border-bottom: 20px solid #fff;
    border-right: 20px solid #fff;
}
.icon-new .icon-content {
    position: absolute;
    display: inline-block;
    transform: rotate(-45deg);
    left: -20px;
    top: -14px;
}
.spec-title {
    display: block;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: #595a58;
    font-size: .3rem;
    color: #fff;
    font-weight: bold;
}
.spec-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(188,38,26,.7);
    color: #fff;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    display: none;
}
.spec-detail .series-title {
    margin: 0.3rem 0;
    font-weight: bold;
    text-align: center;
    font-size: .36rem;
}
.spec-detail p {
    margin-bottom: 6px;
    font-size: .23rem;
}
.spec-detail ul {
    list-style: disc;
    padding: 0 0.1rem;
    margin-top: 10px;
    font-size: .23rem;
}
.spec-detail ul li {
    margin-bottom: 6px;
}
.product-img:hover .spec-detail{
    display: flex;
}
.product-img:hover .spec-title{
    background: #fff;
    color: #fff;
}
@media (max-width: 1500px) {
    .new-product-container .product-banner .text-cover span {
        font-size: 20px;
    }
    .new-product-container .border-button {
        font-size: 18px;
    }
}
@media (max-width: 1200px){
    .new-product-container .product-banner {
        margin-top: 60px;
    }
    .new-product-container .product-banner .text-cover span {
        font-size: 0.35rem;
    }
    .new-product-container .border-button {
        width: 2.8rem;
        padding: 0.24rem 0.48rem;
        font-size: 0.35rem;
    }
}
@media (max-width: 1024px){
    .specification {
        width: 45%;
    }
    .img-cover {
        width: 400px;
        height: 60px;
        bottom: 30px;
        font-size: 34px;
        line-height: 60px;
    }
    .product-img > a:first-child {
        height: 350px;
    }
    .product-img:hover .spec-detail{
        display: none;
    }
    .spec-title {
        height: 50px;
        line-height: 50px;
        font-size: 22px;
    }
    .product-img:hover .spec-title{
        background: #595a58;
    }
}
@media (max-width: 991px){
    .spce-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    .new-product-container .product-banner {
        height: 3rem;
    }
    .new-product-container .product-banner .text-cover h1 {
        font-size: 0.26rem;
    }
    .new-product-container .product-banner .text-cover span {
        font-size: 18px;
        margin: 20px 0;
    }
    .new-product-container .border-button {
        width: 1.4rem;
        height: 0.25rem;
        padding: 0.1rem 0.2rem;
        line-height: 0.25rem;
        font-size: 0.16rem;
    }
}
@media (max-width: 768px){
    .new-product-container .product-banner .text-cover h1 {
        font-size: 0.3rem;
    }
    .new-product-container .spec-content p {
        font-size: 16px;
    }
    /* .new-product-container .spec-content h2 {
        font-size: 0.26rem;
    } */
    .new-product-container .border-button {
        font-size: 14px;
    }
    .new-product-container .border-button {
        width: auto;
        min-width: 140px;
        padding: 12px 20px;
        font-size: 16px;
    }
}
@media (max-width: 576px){
    .specification {
        width: 90%;
    }
    .spce-container {
        margin-right: 0;
    }
    .product-img > a:first-child {
        height: 240px;
    }
    .product-img a img {
        transform: scale(0.8);
    }
    .spec-title {
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    .new-product-container .product-banner .text-cover h1 {
        font-size: 24px;
    }
    .new-product-container .product-banner .text-cover span {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
    }
    .new-product-container .border-button {
        padding: 10px 16px;

    }
}