/* 常用基本标签重设 */
@charset "utf-8";
@font-face{
    font-family:'Montserrat';
    src: url(./font/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family:'Montserrat';
    src: url(./font/Montserrat-SemiBold.ttf);
    font-weight: 600;
}
html,body{ height: 100%; user-select: none;}
body{ 
    font-size: 18px;
    font-family:'Montserrat', Calibri;
}
body,div,p,a,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{ margin: 0; padding: 0; font-weight: normal} 
em{ font-style: normal; }
a{ text-decoration: none; color: #000; }
a:hover{ text-decoration: none; }
a:any-link { text-decoration: none; }
img{ border: 0; vertical-align: middle; }
ul{ list-style: none; }
label{ display: inline-block; }
table{ border-spacing: 0; border-collapse: collapse; }
form{ display: inline-block; width: 100%; }
input{ vertical-align: middle; outline: 0; }
textarea{ resize: none; line-height: 20px; overflow-y: auto;  }
button{ border: none; background: none; text-align: center; }
:focus{ outline: 0; }
