@charset "utf-8";
/* CSS Document */
/*切图：zcy*/
html{ overflow-x:auto; overflow-y:auto;}
*{ padding:0; margin:0;}
ul, ol,li{ list-style-type:none;}
body, button, input, select, textarea{ font-family:'Microsoft yahei'; font-size:12px;}
code, kbd, pre, samp {font-family:'Microsoft yahei';}
a{ text-decoration:none; color:#333;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
img{border:0; max-width:100%;}
li { line-height:normal; }
table { border-collapse: collapse; border-spacing: 0; }
h1,h2,h3,h4,h5,h6{margin:0; font-weight:normal; font-family:"microsoft yahei"; }
input,table,tr,td{ margin:0; padding:0; border:none;}
button,table{ border:none; background:none; margin:0; padding:0;}
body{ position:relative; float:left; width:100%;}
/*body,html{moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;}*/
select{ margin:0; padding:0; font-family:"microsoft yahei"; border:none;}
textarea{ resize:none;outline:none;}
input,select,textarea{ margin:0; padding:0; border:0; outline:none;
 -moz-border-radius:0px; 
 -webkit-border-radius:0; 
 -khtml-border-radius:0;
 border-radius:0;
}

@font-face {
    font-family: 'HYXINRENWENSONGW_0';
    src: url('font/HYXINRENWENSONGW_0.eot');
    src: url('font/HYXINRENWENSONGW_0.eot?#iefix') format('embedded-opentype'),
         url('font/HYXINRENWENSONGW_0.woff') format('woff'),
         url('font/HYXINRENWENSONGW_0.ttf') format('truetype'),
         url('font/HYXINRENWENSONGW_0.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*********************************************************************重置***********************************************************************/

.pz_top{ float:left; width:100%; background:url(images/zbg_8.jpg) repeat-x left top; z-index:99;}
.pz_menu{ float:left; width:100%;}
.pz_banner{ float:left; width:100%; position:relative; overflow:hidden; z-index:5;}
.pz_main{ float:left; width:100%; position:relative; overflow:hidden;}
.pz_down{ float:left; width:100%; background-image:url(images/zbg_4.jpg);filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/zbg_4.jpg',sizingMethod='scale'); background-position: bottom center; background-size: cover;}

@media screen and (max-width:991px) {
.pz_top{ position:absolute;}
.zm_20{ margin-top:49px;}
}
@media screen and (max-width:767px) {
.pz_down{ padding-bottom:60px;}
}

/*首页*/
.pz_top_fixed{ position:fixed; left:0; top:0; background:url(images/zbg_2.png),;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/zbg_2.png',sizingMethod='scale'); z-index:99; border-bottom:solid 1px #76664d;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.pz_top_fixed.on{ background:#391e0d;}
.pz_top.on_1{ z-index:99; position:fixed;}
.logo{ float:left; height:100%;}
.logo img{ margin-top:10px; display:block;}
.menu{ z-index:99; height:112px; display:inline-block; background:url(images/bian1.jpg) no-repeat right center; float:right;
-webkit-transition: all 0.2s ease-out 0s; 
-moz-transition: all 0.2s ease-out 0s; 
-o-transition: all 0.2s ease-out 0s; 
transition: all 0.2s ease-out 0s;}
.menu > ul{ float:left; height:100%;}
.menu ul .nli{ float:left; height:100%; padding:0 15px; text-align:center; z-index:99; position:relative;}
.menu ul .nli > span{ height:112px; line-height:112px;}
.menu ul .nli span a{display:inline-block;*display:inline; *zoom:1; width:90%; padding-left:12px; background:url(images/zbian_1.png) no-repeat left 3px; vertical-align:middle; white-space:nowrap;}
.menu ul .nli span a h5{ font-size:16px; color:white; line-height:21px;}
.menu ul .nli span a h6{ font-size:12px; color:#dcb479; line-height:15px; opacity:0;filter:alpha(opacity=0);}
.menu ul .nli.on span a h6,
.menu ul .nli:hover span a h6{ opacity:1;filter:alpha(opacity=100);}
.menu ul .nli.on span a h5,
.menu ul .nli:hover span a h5{ color:#dcb479;}

/*下拉菜单（漂浮在menu .nli上）*/
.menu .nli .sub{ display:none; position:absolute; left:50%; top:112px; z-index:999; text-align:left; width:255px; margin-left:-127px; padding:10px; background:white; box-shadow:2px 0 7px rgba(0,0,0,0.4);}
.menu .nli .sub span{ background:url(images/zico_1.png) no-repeat center; width:19px; height:9px; position:absolute; left:50%; top:-9px; margin-left:-2px;}
.menu .nli .sub li{ float:left; width:100%;font-size:14px; color:#4f3832; line-height:36px; }
.menu .nli .sub li a{ display:block; float:left; width:100%; padding:0 20px;  color:#4f3832;}
.menu .nli .sub li a:hover{ color:#dcb479;}
.menu .nli .sub .img{ width:100%; float:left; margin-top:6px;}

.zgz_top{ float:right; margin-top:35px; margin-left:20px;}
.zgz_top a{ display:block; float:left; width:43px; height:43px; position:relative; background:url(images/zbtn_1_00.png) no-repeat center; margin-left:12px; cursor:pointer;}
.zgz_top a:hover{ background:url(images/zbtn_1_0.png) no-repeat center;}
.zgz_top a .ewm{ background:url(images/ewm_bg.png) no-repeat top left; width:116px; height:123px; padding:18px 11px 11px 11px; position:absolute; left:50%; top:35px; margin-left:-58px; display:none;-webkit-animation:fadeInDown 1s .2s ease both; z-index:99;
-moz-animation:fadeInDown 1s .2s ease both;
-webkit-transition: all 0.2s ease-out 0s; 
-moz-transition: all 0.2s ease-out 0s; 
-o-transition: all 0.2s ease-out 0s; 
transition: all 0.2s ease-out 0s;}
.zgz_top a .ewm img{ width:100%;}
@-webkit-keyframes fadeInDown{
0%{opacity:0;
-webkit-transform:translateY(-20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
0%{opacity:0;
-moz-transform:translateY(-20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}
.zgz_top a:hover .ewm{ display:block; top:50px;}
.search{ width:300px; position:absolute; left:-200px; top:78px;  z-index:99; display:none;}
.search .search_k{width:100%; border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; overflow:hidden;  float:left;}
.search .search_kag{width:100%; height:50px; line-height:50px; padding-left:20px; background:white; font-size:16px; color:#555;}
.search .search_btn{ width:50px; height:50px; background:#dcb479 url(images/zbtn_1_1.png) no-repeat center; position:absolute; right:0; top:0; border-top-right-radius:8px; border-bottom-right-radius:8px;}
.search .btn{ position:absolute; right:50px; top:50px; cursor:pointer;}

@media screen and (max-width:1199px) {
.logo{ padding:5px 0; height:60px;}
.logo img{ margin-top:0px; height:100%;}
.menu{ height:60px;}
.menu ul .nli{ padding:0 10px;}
.menu ul .nli > span{ height:60px; line-height:60px;}
.menu .nli .sub{ top:61px;}
.zgz_top{ margin-top:10px; margin-left:10px;}
.search{top:50px;}
.search .search_k{ left:10%; margin-left:0;}
}

@media screen and (max-width:991px) {
.logo{  height:49px;}
.menu{ display:none;}
.menu_btn{ width:49px; height:49px; background:url(images/menu_btn_1.png) no-repeat center; float:right; cursor:pointer;}
.menu_btn.on{ background:url(images/menu_btn_3.png) no-repeat center;}
.pf_menu_bg{ width:100%; height:100% !important; position:fixed; left:0; top:0 !important;background:rgba(0,0,0,0.2); z-index:9;}
.pf_menu{ position:fixed; width:60%; height:100%; overflow-y:auto; right:-100%; top:49px; z-index:99; display:block !important;background:rgba(0,0,0,0.6); padding:0 3% 5px 3%;
-webkit-transition: all 0.2s ease-out 0s; 
-moz-transition: all 0.2s ease-out 0s; 
-o-transition: all 0.2s ease-out 0s; 
transition: all 0.2s ease-out 0s;}
.pf_menu.on{ right:0;}

.nav_box{ width:100%; float:left; padding-top:20px; padding-bottom:20px;}
.ph_menu .nli{ float:left; width:100%; padding:0 10px; text-align:right;}
.ph_menu .nli .l1_a{ float:left; width:100%; padding:0 20px; color:#fff; font-size:14px; line-height:42px; position:relative;}
.ph_menu .nli .l1_a.have{ background:url(images/zico_8_2.png) right center no-repeat; background-size:10px 5px !important;}
.ph_menu .nli.on .l1_a.have{ background:url(images/zico_8_1.png) right center no-repeat;}
.ph_menu .nli:hover .l1_a{ color:#dcb479;}
.ph_menu .l2_ul{ float:left; width:100%; display:none; padding:0 0 14px 0;}
.ph_menu .l2_ul .l2{ float:left; width:100%; padding:0 22px; font-size:12px; line-height:26px;}
.ph_menu .l2_ul .l2 a{ color:#ccc;}
.top_main{ display:none !important;}
.search{ display:none;}
.search_k{width:90%; margin-left:5%; border-radius:4px; -webkit-border-radius:4px; -moz-border-radius:4px; overflow:hidden; float:left; margin-top:10px; position:relative;}
.search_k .search_kag{width:100%; height:40px; line-height:40px; padding-left:10px; background:white; font-size:14px; color:#555;}
.search_k .search_btn{ width:40px; height:40px; background:#dcb479 url(images/zbtn_1_1.png) no-repeat center; position:absolute; right:0; top:0;}
}
@media screen and (max-width:767px) {
.logo{ position:absolute; left:50%; top:0; margin-left:-20px;}
}

/*banner*/
.slide_banner div{ background-size:cover !important;}
.slide_banner .slick-dots{ height:12px; bottom:41px;}
.slide_banner .slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 10px;
	background:url(images/banner_ico.png) no-repeat right center;
}
.slide_banner .slick-dots li.slick-active{
	background-position:left center;
}

@media screen and (max-width:991px) {
.slick-prev, .slick-next{ display:none !important;}
.slide_banner .slick-dots{ height:8px; bottom:11px;}
.slide_banner .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0 4px;
	background:url(images/banner_ico_p.png) no-repeat right center;
}
.slide_banner .slick-dots li.slick-active{
	background-position:left center;
}
}

/*footer*/
.ztit_1{ width:100%; float:left; text-align:center;}
.ztit_1 h2{ width:100%; float:left; font-size:28px; color:#4f3832; line-height:44px;/*font-family: 'HYXINRENWENSONGW_0';*/}
.ztit_1 h2 span{display:inline-block;*display:inline; *zoom:1; position:relative;}
.ztit_1 h2 span:before{ width:109px; height:8px; content:''; background:url(images/zbian_2.png) no-repeat left center; position:absolute;left:-130px; top:18px;}
.ztit_1 h2 span:after{ width:109px; height:8px; content:''; background:url(images/zbian_2.png) no-repeat right center; position:absolute; right:-130px; top:18px;}
.ztit_1 h3{ width:100%; float:left; font-size:24px; color:#ab8360; line-height:38px; text-transform:uppercase; font-family: 'HYXINRENWENSONGW_0';}
.ztit_1 h3 a{color:#ab8360;}
.zbg_1{ border-bottom:solid 1px #936549;  background-image:url(images/zbg_4.jpg);}
.footer{ width:100%; float:left; padding:51px 0 60px 0; text-align:center;}
.footer .ztit_1 h2{ color:#fff;}
.footer .ztit_1 h2 span:before{ background:url(images/zbian_3.png) no-repeat left center; }
.footer .ztit_1 h2 span:after{ background:url(images/zbian_3.png) no-repeat right center;}
.footer .ztit_1 h3{ font-size:24px; color:#fdfdfd; opacity:0.6;filter:alpha(opacity=60);}
.footer .text{ width:100%; float:left; margin-top:15px; font-size:14px; color:white; line-height:24px;}
.zul_1{ width:100%; float:left; margin-top:35px; text-align:center;}
.zul_1 .zbox_1{display:inline-block;*display:inline; *zoom:1;}
.zul_1 li{ width:316px; height:188px; float:left; border:solid 1px rgba(255,255,255,0.3); padding:24px 25px 23px 25px; margin:0.5px 0.5px;}
.zul_1 li .ico1{ width:100%; float:left;}
.zul_1 li .p{ width:100%; float:left; margin-top:16px; font-size:14px; color:white; line-height:21px;}

.bottom{ width:100%; float:left; padding:20px 0 25px 0;}
.bottom .text{ width:82%; float:left; font-size:12px; color:rgba(255,255,255,0.5); line-height:22px;}
.bottom .text a{display:inline-block;*display:inline; *zoom:1; color:rgba(255,255,255,0.5);}
.bottom .zbtn{ float:right; margin-top:6px; height:39px;}
.bottom .zbtn a{display:inline-block;*display:inline; *zoom:1; float:left; margin-left:10px; border:solid 1px rgba(255,255,255,0.3); border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; position:relative;}
.bottom .zbtn a:hover{ background:rgba(255,255,255,0.2); border:solid 1px rgba(255,255,255,0.2);}
.bottom .zbtn a .ewm{ width:116px; height:123px; padding:11px 11px 18px 11px; background:url(images/ewm_bg_1.png) no-repeat bottom left; position:absolute; left:50%; top:-130px; margin-left:-58px; display:none;-webkit-animation:fadeInUp 1s .2s ease both;
-moz-animation:fadeInUp 1s .2s ease both;}

@-webkit-keyframes fadeInUp{
0%{opacity:0;
-webkit-transform:translateY(20px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
0%{opacity:0;
-moz-transform:translateY(20px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}}
.bottom .zbtn a .ewm img{ width:100%;}
.bottom .zbtn a:hover .ewm{ display:block;}

@media screen and (max-width:991px) {
.zul_1 li{ width:33%; height:204px;}
.bottom .text{ width:100%;}
.bottom .zbtn{ float:left; width:100%; text-align:center; margin-top:10px;}
.bottom .zbtn a{ float:none;}
}
@media screen and (max-width:767px) {
.ztit_1 h2{ font-size:18px; line-height:34px; overflow:hidden;}
.ztit_1 h2 span:before{ width:59px; height:8px;left:-80px; top:11px;}
.ztit_1 h2 span:after{ width:59px; height:8px; right:-80px; top:11px;}
.ztit_1 h3{ font-size:14px !important; line-height:22px;}
.footer{ padding:21px 0 15px 0;}
.footer .text{ margin-top:10px; font-size:12px; line-height:22px;}
.zul_1 li{ width:100%; margin:0.5px 0; height:188px;}
.bottom{ padding:10px 0 15px 0; text-align:center;}
.bottom .text span{ display:none;}
.zul_1 li .p{ margin-top:12px; font-size:12px; line-height:20px;}
.zlink_2{ margin-bottom:10px;}
.zlink_2 a{ color:rgba(255,255,255,1) !important; font-size:14px; margin:0 15px;display:inline-block;*display:inline; *zoom:1;}
.zul_4{ width:100%; float:left; margin-top:15px;}
.zul_4 li{ width:33.333%; padding:0 1px; float:left;}
}

.elli{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}

/*分页*/
.waik_1{ width:100%; float:left; padding:40px 0 80px 0;}
.pz_fy{width:100%; float:left; text-align:center; font-family:'Arial';}/*分页浮左或者浮右，修改此处即可。例：text-align:left;*/
.pz_fy a { display:inline-block; width:30px; height:30px; line-height:30px; background:#f5f5f5; COLOR: #999; font-size:14px; text-decoration:none; margin:0 2px;}
.pz_fy a:hover,.pz_fy a.on{ color: #fff; background-color:#693618; text-decoration:none;}/*鼠标经过和默认当前页样式*/
.pz_fy a.a1{ font-family:'宋体'}
.fy_phone{ display:none;}
@media  screen and (max-width:991px){
.waik_1{ padding:30px 0;}
.fy_phone{ display:block; font-family:'Arial';}
.fy_phone{ width:100%; float:left; text-align:center; font-size:14px; color:#333;}
.fy_phone a{ display:inline-block; width:100px; height:30px; line-height:29px; border:solid 1px #693618; color:#333;
-webkit-border-radius:15px; 
   -moz-border-radius:15px;
        border-radius:15px; }
.fy_phone span{ display:inline-block; padding:0 10%; height:30px; line-height:30px; color:#333;}
}	


/*phone底部导航*/
.pf_down{ display:none; width:100%; float:left; position:fixed; left:0; bottom:0; background:#fff; height:40px; z-index:8; border-top:solid 1px #ccc;}
.pf_down li{ width:33.333333%; float:left; text-align:center; padding:3px 0 5px 0;}
.pf_down li .ico7{ width:100%; float:left; height:17px; background-size:17px 17px !important;}
.pf_down li .name{ width:100%; float:left; margin-top:4px; font-size:12px; color:#707070; line-height:14px; font-family:"Arial";}
.pf_down li.l1 .ico7{ background:url(images/btn15.png) no-repeat center;}
.pf_down li.l2 .ico7{ background:url(images/btn16.png) no-repeat center;}
.pf_down li.l3 .ico7{ background:url(images/btn17.png) no-repeat center;}
.pf_down li.on .name{ color:#181818;}
.pf_down .l1.on .ico7{ background:url(images/btn15_1.png) no-repeat center;}
.pf_down .l2.on .ico7{ background:url(images/btn16_1.png) no-repeat center;}
.pf_down .l3.on .ico7{ background:url(images/btn17_1.png) no-repeat center;}

/*首页main*/
.zbg_2{ }
.c_1170_1{ width:100%; float:left; padding:50px 0 60px 0;}
.ztit_1 h4{ width:100%; float:left; margin-top:10px;}
.ztit_1 h4 a{display:inline-block;*display:inline; *zoom:1; width:113px; height:29px; border:solid 1px #ab8360; line-height:28px; font-size:16px; color:#ab8360;}
.ztit_1 h4 a:hover{ background:#ab8360; color:white;}
.c_1170_1 ul{ width:100%; float:left; margin-top:30px;}
.c_1170_1 ul li{ float:left; margin-top:10px; padding:0 15px;
-webkit-transition: all 0.2s ease-out 0s; 
-moz-transition: all 0.2s ease-out 0s; 
-o-transition: all 0.2s ease-out 0s; 
transition: all 0.2s ease-out 0s;width:20%;}
.c_1170_1 ul li .zbox{ width:100%; border:solid 1px #d7d4d4; padding:10px; background:#fbfbfb;}
.c_1170_1 ul li:hover{ margin-top:-10px;}
.c_1170_1 ul li:hover .zbox{ border:solid 1px #ab8360; box-shadow:5px 0 12px rgba(0,0,0,0.14);}
@media  screen and (max-width:991px){
.c_1170_1 ul li{ padding:0 10px;width:20%;}
}
@media  screen and (max-width:767px){
.c_1170_1{ padding:10px 0 20px 0; background:url(images/zbg_1.jpg) no-repeat right center;}
.c_1170_1 ul{ margin-top:10px;}
.ztit_1 h4 a{ width:83px; font-size:14px;}
.c_1170_1 ul li{ width:20%; padding:0 0.5px; text-align:center;}
.c_1170_1 ul li:hover{ margin-top:5px;}
}

.zbg_3{ background:url(images/zbg_5.jpg) no-repeat center; background-size:cover;  background-attachment: fixed;}
.c_1170_2{ width:100%; float:left; padding:50px 0 60px 0;}
.c_1170_2 ul{ width:100%; float:left; margin-top:37px; overflow:hidden;}
.row_1{ margin:0 -47px;}
.c_1170_2 ul li{ width:33.333%; float:left; border-left:solid 1px #b7aeaa; padding:0 47px; margin-top:10px;}
.c_1170_2 ul li h4{ width:100%; float:left; font-size:16px; line-height:28px;}
.c_1170_2 ul li h4 a{ display:block; width:100%; color:#333;}
.c_1170_2 ul li .text{ width:100%; float:left; margin-top:7px;}
.c_1170_2 ul li .text .p{ width:100%; float:left; font-size:12px; color:#3b3b3b; line-height:22px; height:66px; overflow:hidden;}
.c_1170_2 ul li .text .more{ width:100%; float:left; margin-top:19px;}
.c_1170_2 ul li .text .more a{ display:block; width:46px; height:17px; border:solid 1px #b08b6c; text-align:center; font-size:12px; color:#ab8360; line-height:16px; overflow:hidden; font-family:"Arial"}
.c_1170_2 ul li :hover h4 a{ color:#ab8360;}
.c_1170_2 ul li :hover .text .more a{ color:#fff; background:#4f3832; border:solid 1px #4f3832}
@media  screen and (max-width:991px){
.c_1170_2 ul li{ width:100%; border-top:solid 1px #b7aeaa; padding:20px 47px; margin-top:-1px;}
}
@media  screen and (max-width:767px){
.c_1170_2{ padding:20px 0 10px 0;}
.c_1170_2 ul{ margin-top:7px;}
.c_1170_2 ul li{ padding:10px 47px;}
.c_1170_2 ul li h4{ font-size:14px; line-height:24px;}
.c_1170_2 ul li .text{ margin-top:4px;}
.c_1170_2 ul li .text .p{ height:20px; line-height:20px; color:#6b6b6b;}
.c_1170_2 ul li .text .more{ margin-top:9px; display:none;}
.c_1170_2 ul li .text .more a{ text-indent:999px; background:url(images/zico_6_1.png) no-repeat center; background-size:20px 20px; width:12px; height:12px; border:solid 1px #693618; float:right; margin-right:20px;}
}

/*1品牌介绍*/
.c_0100{ width:100%; float:left;}
.zbg_4{ position:relative;}
.zbg_4:after{ content:''; width:100%; position:absolute; left:0; top:0; height:72px; background:#f6f6f6;}
.c_0100 .c_210{ width:210px; float:left; position:relative; z-index:5;}
.c_0100 .c_210 .c_210_1{ width:100%; height:105px; background:url(images/zbg_6.jpg); padding:29px 10px 36px 28px; border-bottom-left-radius:16px; -webkit-border-bottom-left-radius:16px; -moz-border-bottom-left-radius:16px; border-bottom-right-radius:16px; -webkit-border-bottom-right-radius:16px; -moz-border-bottom-right-radius:16px;}
.c_0100 .c_210 .c_210_1 h4{ width:100%; float:left; font-size:18px; color:white; font-weight:bold; line-height:24px;}
.c_0100 .c_210 .c_210_1 h5{ width:100%; float:left; font-size:14px; color:white; font-weight:bold; line-height:16px; font-family:"Arial"; text-transform:uppercase;}
/*内页导航*/
.pz_SideLayer_box{ width:100%; margin-top:20px; position:relative; z-index:3; float:left;}
.pz_SideLayer_box .pz_SideLayer{ display:block; width:100%; float:left; overflow:hidden;}
.pz_SideLayer_box .pz_SideLayer .l1{ float:left; width:100%; padding:0 0 0 28px; font-size:14px; position:relative; margin-top:-1px;}
.pz_SideLayer_box .pz_SideLayer .l1 a{ display:block; width:100%; height:100%; height:40px;  line-height:40px; position:relative; color:#162042; border-top:solid 1px #dadada;}
.pz_SideLayer_box .pz_SideLayer .l1.hover,
.pz_SideLayer_box .pz_SideLayer .l1:hover{ background:url(images/zbg_7.png) no-repeat left top; position:relative; z-index:4;}
.pz_SideLayer_box .pz_SideLayer .l1 a.hover,
.pz_SideLayer_box .pz_SideLayer .l1:hover a{ color:white; }
.pz_SideLayer_box .pz_SideLayer .l1 span{ width:40px; height:40px; position:absolute; top:0; right:8px; background:url(images/zico_6_1.png) no-repeat center;}
.pz_SideLayer_box .pz_SideLayer .l1 span.on{ background-image:url(images/zico_6_2.png);}
/*.pz_SideLayer_box .pz_SideLayer .l2 .ul2{ width:100%; float:left; padding:12px 10px 8px 11px;}*/
.pz_SideLayer_box .pz_SideLayer .l2{ width:100%; float:left; padding:0 10px 0 39px; }
.pz_SideLayer_box .pz_SideLayer .l2.first{ padding-top:12px;}
.pz_SideLayer_box .pz_SideLayer .l2.last{ padding-bottom:8px;}
.pz_SideLayer_box .pz_SideLayer .l2 a{ display:block; width:100%; padding-left:17px; font-size:12px; color:#162042; line-height:32px; background:url(images/zico_8_3.png) no-repeat left center;}
.pz_SideLayer_box .pz_SideLayer .l2 a.hover,
.pz_SideLayer_box .pz_SideLayer .l2:hover a{ background-image:url(images/zico_8_4.png); color:#dcb479; font-weight:bold;}

.c_0100 .c_960{ width:960px; float:left; position:relative; z-index:5; background:url(images/zbian_5.jpg) repeat-y left center; position:relative;}
.c_0100 .c_960:before{ background: url(images/zbian_5_b.jpg) no-repeat left bottom; width:14px; height:130px; content:''; position:absolute; left:0; bottom:0;}
.c_0100 .c_960 .zlink_1{ width:100%; float:left; line-height:72px; font-size:12px; color:#676768; padding-left:60px; background:url(images/zico_5.png) no-repeat 40px center,url(images/zbian_5_t.jpg) no-repeat left top;}
.c_0100 .c_960 .zlink_1 a{ color:#676768;}
.c_0100 .c_960 .zlink_1 a:hover{ color:#dcb479;}
.c_0100 .c_960 .c_960_1{ width:100%; padding:30px 0 0 40px; float:left;}
.c_0100 .c_960 .c_960_1 .banner{ width:100%; float:left;}
.c_0100 .c_960 .c_960_1 .c_960_2{ padding:25px 0 80px 0; width:100%; float:left;}
.c_0100 .c_960 .c_960_2 .text{ width:100%; float:left;}
.ztit_2{ width:100%; float:left;font-family: 'HYXINRENWENSONGW_0'; height:36px; line-height:36px; overflow:hidden; text-transform:uppercase; letter-spacing:1px; background:url(images/zbian_4.png) right center repeat-x;}
.ztit_2 span{display:inline-block;*display:inline; *zoom:1; float:left; margin-right:15px; line-height:36px; font-size:28px; color:#4f3832;}
.ztit_2 h4{ float:left; font-size:16px; color:#ab8360; line-height:36px;font-family: 'HYXINRENWENSONGW_0'; padding-right:33px; background:url(images/zbian_6.png) no-repeat right center #fff;}
.c_0100 .c_960 .c_960_2 .text .p{ width:100%; float:left; margin-top:26px; font-size:14px; color:#333; line-height:26px;}
.c_0100 .c_960 .c_960_2 .text .p .img{ float:right; margin-left:20px; margin-top:90px;}
.c_0100 .c_960 .c_960_2 .zul_1{ margin-top:35px; overflow:hidden; margin-left:-1px;}
.c_0100 .c_960 .c_960_2 .zul_1 li{ width:305px; margin:1px 0 0 1px; border:solid 1px #d0c1b8;}
.c_0100 .c_960 .c_960_2 .zul_1 li .p{ color:#503933;}
@media  screen and (max-width:1199px){
.c_0100 .c_960{ width:750px;}
.c_0100 .c_960 .c_960_2 .zul_1 li{ width:230px; height:204px;}
}
@media  screen and (max-width:991px){
.c_0100 .c_960{ background:none; width:100%;}
.c_0100 .c_960:before{ display:none;}
.c_0100 .c_960 .zlink_1{ background:url(images/zico_5.png) no-repeat left center; padding-left:20px; line-height:52px;}
.c_0100 .c_960 .c_960_1{ padding:10px 0 0 0px; float:left;}
.c_0100 .c_960 .c_960_1 .c_960_2{ padding:25px 0 20px 0;}
.c_0100 .c_210{ width:100%;}
.zbg_4:after{ height:52px;}
.c_0100 .c_210 .c_210_1{ height:65px; padding:10px 10px 16px 28px; position:relative;}
.c_0100 .c_210 .c_210_1 span{ background: url(images/zico_8_1.png) no-repeat center; position:absolute; right:5%; top:50%; width:18px; height:9px; margin-top:-4px;}
.c_0100 .c_210 .c_210_1.on span{ background-image:url(images/zico_8_2.png);}
.c_0100 .c_210 .pz_SideLayer_box{ display:none; margin-top:10px;}
.pz_SideLayer_box .pz_SideLayer .l1.hover,
.pz_SideLayer_box .pz_SideLayer .l1:hover{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=##dcb479,endColorStr=#84471f); /*IE*/   
    background:-moz-linear-gradient(top,#dcb479,#84471f);/*火狐*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#dcb479), to(#84471f));/*谷歌*/   
  	background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #dcb479),color-stop(1, #84471f));/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcb479', endColorstr='#84471f'); /*IE6 & IE7*/  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dcb479', endColorstr='#84471f')"; /* IE8 */ }

.c_0100 .c_960 .c_960_1 .zul_1 li{ width:100%; height:188px; margin:1px 0;}
}
@media  screen and (max-width:767px){
.ztit_2{ height:26px; font-size:14px; line-height:26px; letter-spacing:0;}
.ztit_2 h4{ line-height:26px;}
.ztit_2 span{ margin-right:10px; line-height:26px; font-size:20px;}
.c_0100 .c_960 .c_960_2 .text .p{ margin-top:22px; font-size:12px; line-height:22px;}
.c_0100 .c_960 .c_960_2 .zul_1{ margin-top:15px; width:100%; margin-left:0;}


}
@media  screen and (max-width:500px){
.c_0100 .c_960 .c_960_2 .text .p .img{ width:40%; margin-left:10px; margin-top:20px;}
}

/*2系列产品*/
.c_960_3{ width:100%; float:left; padding:25px 0 0 0;}
.row_2{ margin:0 -30px;}
.c_960_3 ul{ width:100%; float:left; overflow:hidden; margin-top:15px;}
.c_960_3 ul li{ width:33.333%; float:left; padding:0 30px; margin-top:30px;}
.c_960_3 ul li .zbox{ width:100%; border:solid 1px #d7d4d4; padding:10px 21px; background:white; text-align:center; position:relative; height:351px; overflow:hidden;}
.c_960_3 ul li .zbox .img{ width:100%; height:100%; position:relative;}
.c_960_3 ul li .zbox .img img{ display:block; width:100%; max-width:225px; position:absolute; left:50%; top:0;
-webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
   		transform: translate(-50%, 0);
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.c_960_3 ul li .zbox .z_mb{ width:100%; position:absolute; left:0; bottom:0; padding:1px 21px 32px 21px;z-index:4;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.c_960_3 ul li .zbox .z_mb > span{ background:url(images/zbian_7.jpg) no-repeat; width:68px; height:3px; position:absolute; left:50%; top:0; margin-left:-34px;}
.c_960_3 ul li .zbox .z_mb .text{ width:100%; float:left; padding-top:9px; border-top:solid 1px #d7d4d4; position:relative; z-index:-1;}
.c_960_3 ul li .zbox .z_mb .text h4{ width:100%; float:left; font-size:16px; color:#333; line-height:32px;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.c_960_3 ul li .zbox .z_mb .text h5{ width:100%; float:left; font-size:14px; color:#333; line-height:33px;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.c_960_3 ul li .zbox .z_mb .text h5 span{ font-size:18px; color:#693618; font-weight:bold;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.c_960_3 ul li .zbox .z_mb .text .more{ width:100%; float:left; margin-top:11px; display:none;}
.c_960_3 ul li .zbox .z_mb .text .more a{display:inline-block;*display:inline; *zoom:1; width:45px; height:17px; line-height:17px; background:white; font-size:12px; color:#4f3832; font-family:"Arial";}
.c_960_3 ul li:hover .zbox{ border:solid 1px #784a2f;}
.c_960_3 ul li:hover .zbox .img img{ height:100%; max-width:none; width:auto;}
.c_960_3 ul li:hover .zbox .z_mb{ height:100%; background:url(images/zbg_9.png); padding:17px 13px;}
.c_960_3 ul li:hover .zbox .z_mb > span{ display:none;}
.c_960_3 ul li:hover .zbox .z_mb .zbox_3{ width:100%; height:100%; border:solid 1px rgba(255,255,255,0.5); line-height:217px; position:relative;}
.c_960_3 ul li:hover .zbox .z_mb .zbox_3 .text{ position:absolute; left:0; top:50%; border:0; z-index:9;
-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
   		transform: translate(0, -50%);}
.c_960_3 ul li:hover .zbox .z_mb .zbox_3 .text .more{ display:block;}
.c_960_3 ul li:hover .zbox .z_mb .zbox_3 .text h4,
.c_960_3 ul li:hover .zbox .z_mb .zbox_3 .text h5,
.c_960_3 ul li:hover .zbox .z_mb .zbox_3 .text h5 span{ color:white;}
@media  screen and (max-width:1199px){
.c_960_3 ul li{ width:50%;}
}
@media  screen and (max-width:767px){
.row_2{ margin:0 -15px;}
.c_960_3 ul{ margin-top:10px;}
.c_960_3 ul li{ padding:0 15px;}
.c_960_3 ul li .zbox .z_mb .text h4{ font-size:14px; line-height:28px;}
.c_960_3 ul li .zbox .z_mb .text h5{ font-size:12px; line-height:24px;}
.c_960_3 ul li .zbox .z_mb .text h5 span{ font-size:16px;}

}
@media  screen and (max-width:560px){
.c_960_3 ul li{ width:100%; margin-top:15px;}
}

.c_960_4{ width:100%; padding:0 0 47px 0; float:left; margin-top:-5px;}
.c_960_4 .main_1{ width:100%; float:left; padding:17px 0 18px 0;}
.c_960_4 .main_1 .img{ float:left; width:352px;}
.c_960_4 .main_1 .text{ margin-left:406px;}
.c_960_4 .main_1 .text h1{ width:100%; float:left; font-size:24px; color:#693618; line-height:62px; border-bottom:solid 1px #e5e5e5; font-weight:bold;}
.c_960_4 .main_1 .text h4{ width:100%; float:left; padding:9px 0; border-bottom:solid 1px #e5e5e5; line-height:40px; font-size:16px; color:#333;}
.c_960_4 .main_1 .text h4 .div0{ width:100%; float:left;}
.c_960_4 .main_1 .text h4 .name{ font-weight:bold; float:left;}
.c_960_4 .main_1 .text h4 .div1{ width:50%; float:left;}
.c_960_4 .main_1 .text h4 span{ font-size:24px; color:#693618; font-weight:bold;}
.c_960_4 .main_1 .text .btn{ width:100%; float:left; margin-top:16px;}
.c_960_4 .main_1 .text .btn a:hover{ margin-left:10px;}
.c_960_4 .main_2{ width:100%; float:left; padding:32px 0 40px 0;}
.c_960_4 .main_2 .title{ width:100%; float:left; height:50px; background:#eeeceb; line-height:50px;}
.c_960_4 .main_2 .title span{ background:url(images/zbg_10.png); width:210px; height:50px; padding-left:20px; display:block; float:left; font-size:18px; color:white;}
.c_960_4 .main_2 .text{ width:100%; float:left; margin-top:36px; line-height:24px; font-size:14px; color:#333;}

.pf_btn{ width:100%; float:left; border-top:solid 1px #d7d4d4; border-bottom:solid 1px #d7d4d4; background:#fbfbfb; padding:16px 0;}
.pf_btn h5{ width:50%; float:left; line-height:30px;}
.pf_btn h5 span{ font-size:14px; color:#333;}
.pf_btn h5 a{ color:#333;}
.pf_btn .pf_btn_next{ text-align:right;}
.pf_btn .pf_btn_next .name{ float:right;}
.pf_btn h5 span:hover,
.pf_btn h5 span:hover a{ color:#693618;}

@media  screen and (max-width:767px){
.c_960_4 .main_1 .img{ width:246px;}
.c_960_4 .main_1 .text{ margin-left:276px;}
.c_960_4 .main_1 .text h1{ font-size:20px; line-height:42px;}
.c_960_4 .main_1 .text h4{ line-height:30px; font-size:14px;}
.c_960_4 .main_1 .text h4 span{ font-size:20px;}
.c_960_4 .main_1 .text h4 .div1{ width:100%;}
.c_960_4 .main_2{ padding:12px 0 20px 0;}
.c_960_4 .main_2 .text{ margin-top:16px; font-size:12px; line-height:22px;}
.pf_btn h5 span{ font-size:12px;}
}
@media  screen and (max-width:530px){
.c_960_4 .main_1 .img{ width:100%;}
.c_960_4 .main_1 .img img{ width:100%;}
.c_960_4 .main_1 .text{ margin-left:0px; width:100%; float:left; margin-top:20px;}

}

/*4门店查询*/
.c_960_5{ width:100%; float:left; padding:25px 0 80px 0;}
.c_960_5 .search_1{ width:100%; float:left; padding:13px 20px 13px 18px; border-top:solid 1px #d7d4d4;border-bottom:solid 1px #d7d4d4; background:#fbfbfb; margin-top:35px;}
.c_960_5 .search_1 select{ display:block; float:left; margin-left:10px; width:189px; height:36px; line-height:36px; border:solid 1px #d7d4d4; font-size:16px; color:#333; background:white; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; overflow:hidden; padding-left:10px;}
.c_960_5 .search_1 input{ display:block; float:left; margin-left:10px; background:#693618; cursor:pointer; width:100px; height:36px; line-height:36px; cursor:pointer; color:white; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; overflow:hidden; font-size:16px;}
.c_960_5 .search_1 h4{ float:right; font-size:16px; color:#333; line-height:36px;}
.c_960_5 .search_1 h4 span{ color:#4f3832; font-weight:bold;}
.game163 { position: relative; width:100%; float:left; margin-top:19px;overflow: hidden;}
.game163 .bigImg { width:100% !important; float:left; margin-top:20px; border:solid 1px #d7d4d4; position: relative; height:361px; overflow:hidden;}
.game163 .bigImg li{ position:relative; height:361px; width:100% !important;}
.game163 .smallScroll { height: 131px; width:100%; float:left; text-align:center;}
.game163 .sPrev, .game163 .sNext { float: left; display: block; width: 18px; height: 18px; background:url(images/zbtn_3.png) no-repeat left center; margin-top:55px;}
.game163 .sNext { float:right; background-position: right center;}
.game163 .sPrev:hover,
.game163 .sNext:hover{ background-image:url(images/zbtn_3_h.png);}
.game163 .smallImg { width:860px; margin-left:11px; float:left; display:inline-block; height:131px; overflow: hidden; border-left:solid 1px #d7d4d4; border-right:solid 1px #d7d4d4;}
.game163 .smallImg ul { height:131px; width: 9999px; overflow: hidden;}
.game163 .smallImg li { float: left; width: 287px !important; height:131px; border:solid 1px #d7d4d4; background:#fcfcfc; padding:15px 24px 14px 21px; cursor: pointer; display: inline; border-left:0; text-align:left;}
.game163 .smallImg li h4{ width:100%; float:left; font-size:16px; color:#333; line-height:27px; margin-bottom:3px;}
.game163 .smallImg li h5{ width:100%; float:left; font-size:14px; color:#666; line-height:24px; max-height:48px;}
.game163 .smallImg li h5 .span{ display:block; float:left; width:40px;}
.game163 .smallImg li h5 .p{ margin-left:40px;}
.game163 .smallImg li.on{ background:#f2f2f2;}

@media  screen and (max-width:1199px){
.game163 .smallImg{ width:650px;}
.game163 .smallImg li{ width: 327px !important;}

}
@media  screen and (max-width:991px){
.game163 .smallImg{ width:677px;}
.game163 .smallImg li{ width: 338px !important;}
}
@media  screen and (max-width:767px){
.c_960_5{ padding:25px 0 30px 0;}
.c_960_5 .search_1{ padding:13px 15px;}
.c_960_5 .search_1 select{ width:100%; height:30px; line-height:30px; font-size:14px; margin-top:10px; margin-left:0;}
.c_960_5 .search_1 input{ margin-left:0px; width:100%; height:30px; line-height:30px; font-size:14px; margin-top:10px;}
.c_960_5 .search_1 h4{ font-size:14px; color:#333; line-height:30px; width:100%; margin-top:10px;}
.picScroll{ width:100%; float:left; margin-top:20px; text-align:center; position:relative;   }
.picScroll .bd ul{ width:100%;  float:left;}
.picScroll .bd li{ width:100%; float:left; text-align:left; padding:10px 10px 10px 10% ; border:solid 1px #d7d4d4; background:#fcfcfc; height:107px;}
.picScroll .bd li a{-webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* 取消链接高亮 */ }
.picScroll .bd li h4{ width:100%; float:left; font-size:14px; color:#333; line-height:22px; margin-bottom:3px;}
.picScroll .bd li h5{ width:100%; float:left; font-size:12px; color:#666; line-height:20px; max-height:40px;}
.picScroll .bd li h5 .span{ display:block; float:left; width:30px;}
.picScroll .bd li h5 .p{ margin:0 10px 0 30px; }
.picScroll .bd li.on{ background:#f2f2f2;}
.picScroll .hd{  text-align:center; margin-top:6px; width:100%; float:left; }
.picScroll .hd ul{display:inline-block;*display:inline; *zoom:1;  }	
.picScroll .hd li{ float:left; width:16px; height:16px; background:#ccc; text-align:center; margin:4px 4px 0 4px; overflow:hidden; -webkit-border-radius:8px; -moz-border-radius:8px; border-radius:8px; font-size: 12px;
color: #fff;
line-height: 16px;}
.picScroll .hd .on{ background:#693618;  }
.picScroll .prev,.picScroll .next{}

.picScroll .prev,.picScroll .next{  position:absolute; top:50px;left:0;  display: block; width: 18px; height: 18px; background:url(images/zbtn_3.png) no-repeat left center; }
.picScroll .next { left:auto; right:0; background-position: right center;}

.zdt_img{ width:100%; height:260px; position:relative; overflow:hidden; border:solid 1px #d7d4d4; margin-top:20px; float:left;}

}

/*5新闻*/
.c_960_6{ width:100%; float:left; padding:25px 0 0 0;}
.zul_2{ width:100%; float:left; margin-top:15px;}
.zul_2 li{ width:100%; float:left; margin-top:20px; border:solid 1px #d7d4d4; padding:20px; background:white;}
.zul_2 li .img{ width:168px; height:126px; float:left; overflow:hidden;}
.zul_2 li .text{ margin-left:192px;}
.zul_2 li .text h4{ width:100%; float:left; margin-top:6px; font-size:16px; color:#292929; line-height:25px;}
.zul_2 li .text .p{ width:100%; float:left; margin-top:8px; font-size:14px; color:#292929; line-height:25px; height:50px; overflow:hidden; opacity:0.78; filter:alpha(opacity=0.78);}
.zul_2 li .text h5{ width:100%; float:left; margin-top:8px; font-size:14px; color:#292929; line-height:25px;}
.zul_2 li:hover{ background:#f5f5f5; box-shadow:1px 0 6px rgba(0,0,0,0.14);}
.zul_2 li:hover .text h4{ color:#ab8360;}
@media  screen and (max-width:767px){
.zul_2{ margin-top:10px;}
.zul_2 li{ padding:10px; margin-top:10px;}
.zul_2 li .img{ width:125px; height:94px;}
.zul_2 li .text{ margin-left:135px;}
.zul_2 li .text h4{ margin-top:0px; font-size:14px; line-height:23px;}
.zul_2 li .text .p{ margin-top:5px; font-size:12px; line-height:22px; height:44px;}
.zul_2 li .text h5{ margin-top:5px; font-size:12px; line-height:22px;}
}
@media  screen and (max-width:320px){
.zul_2 li .img{ width:100%; height:auto;}
.zul_2 li .img img{ width:100%;}
.zul_2 li .text{ width:100%; float:left; margin-left:0; margin-top:10px;}
}

/*6免费试用*/
.zpt_0{ padding-top:0 !important;}
.zul_3{ width:100%; float:left; margin-top:34px;}
.zul_3 li{ width:100%; float:left; border:solid 1px #e5e5e5; margin-top:20px;
-webkit-transition: all 0.2s ease-out 0s; 
   -moz-transition: all 0.2s ease-out 0s; 
	 -o-transition: all 0.2s ease-out 0s; 
		transition: all 0.2s ease-out 0s;}
.zul_3 li .img{ width:519px; height:259px; float:left;}
.zul_3 li .img img{ width:100%;}
.zul_3 li .text{ margin-left:519px; padding:24px 30px 20px 30px; border-left:solid 1px #e5e5e5; height:259px;}
.zul_3 li .text h2{ width:100%; float:left; font-size:20px; color:#4f3832; line-height:28px; font-weight:bold}
.zul_3 li .text h5{ margin-top:14px; width:100%; float:left; font-size:14px; color:#4f3832; line-height:24px; height:72px; overflow:hidden;}
.zul_3 li .text h6{ margin-top:10px; width:100%; float:left; font-size:14px; color:#999; line-height:24px; height:48px; overflow:hidden;}
.zul_3 li .text .btn{ width:100%; float:left; margin-top:13px;}
.zul_3 li .text .btn a{ display:block; width:110px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#4f3832; border:solid 1px #693618; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px; overflow:hidden;}
.zul_3 li:hover{ box-shadow:0 0 7px rgba(0,0,0,0.09);}
.zul_3 li:hover .text .btn a{ background:#693618; color:white;}
@media  screen and (max-width:1199px){
.zul_3 li .img{ width:100%; height:auto;}
.zul_3 li .text{ width:100%; margin-left:0; height:auto; float:left; border-left:0;}
}
@media  screen and (max-width:767px){
.zul_3{ margin-top:14px;}
.zul_3 li{ margin-top:10px;}
.zul_3 li .text{ padding:15px 10px;}
.zul_3 li .text h2{ font-size:18px; line-height:26px;}
.zul_3 li .text h5{ margin-top:8px; font-size:12px; line-height:22px; height:66px;}
.zul_3 li .text h6{ margin-top:6px; font-size:12px;line-height:22px; height:44px;}
.zul_3 li .text .btn{ margin-top:8px;}
.zul_3 li .text .btn a{ font-size:12px; height:28px; line-height:28px;}
}
/*弹窗*/
.pf_tc{ width:100%; height:100%; background:url(images/zbg_2.png); position:fixed; left:0; top:0; z-index:99; display:none;}
.tc_550{ width:550px; position:fixed; left:50%; background:#f5f5f5; top:50%; margin:-216px 0 0 -275px; z-index:99;}
.tc_550 .tc_550_t{ width:100%; height:70px; padding:19px 40px 19px 39px; background:white;}
.tc_550 .tc_550_t h4{ float:left; font-size:18px; color:#693618; line-height:32px;}
.tc_550 .tc_550_t .btn{ float:right; margin-top:7px; cursor:pointer;}
.tc_550 .tc_550_b{ width:100%; float:left; padding:12px 40px 40px 39px;}
.tc_550 .tc_550_b ul{ width:100%; float:left;}
.tc_550 .tc_550_b ul li{ margin-top:18px; width:100%; float:left;}
.tc_550 .tc_550_b ul li .name{ width:75px; float:left; font-size:14px; color:#333; line-height:42px;}
.tc_550 .tc_550_b ul li .tx_k{ margin-left:85px;}
.tc_550 .tc_550_b ul li .tx_k input{ display:block; width:100%; height:42px; padding-left:21px; border:solid 1px #e5e5e5; background:white; font-size:14px; color:#999; line-height:42px;}
.tc_550 .tc_550_b ul li .tx_k textarea{ display:block; width:100%; height:102px; padding:10px 10px 10px 21px; border:solid 1px #e5e5e5; background:white; font-size:14px; color:#999; line-height:22px;}
.tc_550 .tc_550_b ul li.l1 input{display:inline-block;*display:inline; *zoom:1; width:302px; height:50px; line-height:50px; font-size:18px; color:white; background:#693618; padding-left:0 !important;}
@media  screen and (max-width:767px){
.tc_550{ width:90%; left:5%; margin:0;
-webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    	transform: translate(0, -50%);}
.tc_550 .tc_550_t{ height:50px; padding:10px 20px 10px 19px;}
.tc_550 .tc_550_t h4{ font-size:16px; line-height:30px;}
.tc_550 .tc_550_t .btn{ margin-top:3px;}
.tc_550 .tc_550_b{ padding:12px 20px 20px 19px;}
.tc_550 .tc_550_b ul li{ margin-top:10px;}
.tc_550 .tc_550_b ul li .name{ width:60px; font-size:12px; line-height:32px;}
.tc_550 .tc_550_b ul li .tx_k{ margin-left:65px;}
.tc_550 .tc_550_b ul li .tx_k input{ height:32px; line-height:32px; padding-left:11px; font-size:12px;}
.tc_550 .tc_550_b ul li .tx_k textarea{ height:82px; font-size:12px; line-height:20px; padding:5px 5px 5px 11px;}
.tc_550 .tc_550_b ul li.l1 input{ width:100px; height:40px; line-height:40px; font-size:14px;}
}

/*8咨询留言*/
.c_960_7{ padding:25px 0 80px 0; width:100%; float:left;}
.c_960_7 .main_3{ width:100%; float:left;}
.c_960_7 .main_3 .z_620{ width:67.39%; float:left; background:#f9f9f9; padding:0 40px 40px 20px; border:solid 1px #e5e5e5; margin-top:25px;}
.c_960_7 .main_3 .z_620 ul{ width:100%; float:left;}
.c_960_7 .main_3 .z_620 ul li{ width:100%; float:left; margin-top:30px;}
.c_960_7 .main_3 .z_620 ul li .name{ width:103px; float:left; font-size:16px; padding-right:5px; color:#333; text-align:right; line-height:50px;}
.c_960_7 .main_3 .z_620 ul li .name span{ color:#ff0000;}
.c_960_7 .main_3 .z_620 ul li .tx_k{ margin-left:103px;}
.c_960_7 .main_3 .z_620 ul li .tx_k input{ display:block; width:100%; height:50px; padding-left:20px; line-height:50px; border:solid 1px #e5e5e5; background:white; font-size:16px; color:#999;}
.c_960_7 .main_3 .z_620 ul li .tx_k select{ display:block; width:100%; height:50px; padding-left:20px; line-height:50px; border:solid 1px #e5e5e5; background:white; font-size:16px; color:#999;}
.c_960_7 .main_3 .z_620 ul li .tx_k textarea{ display:block; width:100%; height:150px; padding:10px 10px 10px 20px; line-height:30px; border:solid 1px #e5e5e5; background:white; font-size:16px; color:#999;}
.c_960_7 .main_3 .z_620 ul li.l1 input{ height:50px; line-height:50px; border:solid 1px #693618; background:#693618; font-size:18px; color:white; cursor:pointer; padding-left:0 !important; }
.c_960_7 .main_3 .z_270{ width:29.34%; float:right; margin-top:25px;}
.c_960_7 .main_3 .z_270 .z_270_t{ width:100%; padding:14px 16px 13px 16px; height:83px; background:url(images/zbg_12.jpg) repeat-x center;}
.c_960_7 .main_3 .z_270 .z_270_t .p{ width:100%; height:100%; padding-left:99px; font-size:16px; color:white; line-height:28px; background:url(images/zico_9_2.png) 18px center no-repeat;}
.c_960_7 .main_3 .z_270 .z_270_b{ width:100%; float:left; margin-top:10px; padding:11px 16px 14px 16px; border:solid 1px #d7d7d7;}
.c_960_7 .main_3 .z_270 .z_270_b .title{ width:100%; float:left; padding-bottom:9px; border-bottom:solid 1px #d7d7d7; font-size:14px; color:#303030; line-height:30px;}
.c_960_7 .main_3 .z_270 .z_270_b .title img{ margin-right:10px;}
.c_960_7 .main_3 .z_270 .z_270_b .text{ width:100%; float:left; margin-top:8px; font-size:14px; color:#303030; line-height:27px;}

/*会员留言*/
.c_960_7 .main_3 .z_member_mess{ width:100%; float:left; background:#f9f9f9; padding:0 40px 30px 20px; border:solid 1px #e5e5e5; margin-top:25px;}
.c_960_7 .main_3 .z_member_mess ul{ width:100%; float:left;}
.c_960_7 .main_3 .z_member_mess ul li{ width:100%; float:left; margin-top:25px;}
.c_960_7 .main_3 .z_member_mess ul li.l2{width:50%; }
.c_960_7 .main_3 .z_member_mess ul li .name{ width:103px; float:left; font-size:16px; padding-right:5px; color:#333; text-align:right; line-height:40px;}
.c_960_7 .main_3 .z_member_mess ul li .name span{ color:#ff0000;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k{ margin-left:103px;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k input{ display:block; width:100%; height:40px; padding-left:20px; line-height:40px; border:solid 1px #e5e5e5; background:white; font-size:16px; color:#999;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k select{ display:block; width:100%; height:40px; padding-left:20px; line-height:40px; border:solid 1px #e5e5e5; background:white; font-size:16px; color:#999;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k textarea{ display:block; width:100%; height:110px; padding:10px 10px 10px 20px; line-height:30px; border:solid 1px #e5e5e5; background:white; font-size:16px; color:#999;}
.c_960_7 .main_3 .z_member_mess ul li.l1 input{ height:40px; line-height:40px; border:solid 1px #693618; background:#693618; font-size:18px; color:white; cursor:pointer; padding-left:0 !important; }

@media  screen and (max-width:1199px){
.c_960_7 .main_3 .z_270 .z_270_t .p{ padding-left:77px; background:url(images/zico_9_2.png) 10px center no-repeat;}
}
@media  screen and (max-width:767px){
.c_960_7{ padding:25px 0 20px 0;}
.c_960_7 .main_3 .z_620{ width:100%; padding:0 20px 20px 10px; margin-top:10px;}
.c_960_7 .main_3 .z_620 ul li{ margin-top:10px;}
.c_960_7 .main_3 .z_620 ul li .name{ width:83px; font-size:14px; line-height:40px;}
.c_960_7 .main_3 .z_620 ul li .tx_k{ margin-left:83px;}
.c_960_7 .main_3 .z_620 ul li .tx_k input,
.c_960_7 .main_3 .z_620 ul li .tx_k select{ height:40px; line-height:40px; padding-left:10px; font-size:14px;}
.c_960_7 .main_3 .z_620 ul li .tx_k textarea{ height:100px; line-height:20px; padding-left:10px; font-size:14px;}
.c_960_7 .main_3 .z_620 ul li.l1 input{ height:40px; line-height:40px; font-size:16px;}

/*会员留言*/
.c_960_7 .main_3 .z_member_mess{ width:100%; padding:0 20px 20px 10px; margin-top:10px;}
.c_960_7 .main_3 .z_member_mess ul li{ margin-top:10px;}
.c_960_7 .main_3 .z_member_mess ul li.l2{width:100%; }
.c_960_7 .main_3 .z_member_mess ul li .name{ width:83px; font-size:14px; line-height:40px;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k{ margin-left:83px;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k input,
.c_960_7 .main_3 .z_member_mess ul li .tx_k select{ height:40px; line-height:40px; padding-left:10px; font-size:14px;}
.c_960_7 .main_3 .z_member_mess ul li .tx_k textarea{ height:100px; line-height:20px; padding-left:10px; font-size:14px;}
.c_960_7 .main_3 .z_member_mess ul li.l1 input{ height:40px; line-height:40px; font-size:16px;}

.c_960_7 .main_3 .z_270{ width:100%; margin-top:10px;}
.c_960_7 .main_3 .z_270 .z_270_b .text{ margin-top:5px; font-size:12px; line-height:24px;}
}

.news_tit{ width:100%; float:left; border-bottom:1px dashed #999999; padding:0px 0 10px 0; text-align:center; line-height:32px;}
.news_tit h2{  font-size:16px; line-height:24px;}
.news_tit span{ color:#969696; font-size:12px;}

.news_ct{ width:100%; float:left; padding:15px 0; }
.news_ct img { max-width: 100%; }


.ly{ width:100%; margin-top:26px; padding-top:26px; border-top:1px #d5d5d5 solid; float:left;}
.ly ul{ padding-bottom:10px; float:left; width:100%; border-bottom:1px #d5d5d5 solid; }
.ly li{ width:100%; float:left;}
.ly li .z1{ width:100%; color:#000000; height:28px; background:url(images/ye_03.jpg) repeat-x; line-height:28px; padding-left:2%; float:left;}
.ly li .z2{ width:100%; padding:7px 0; float:left;}
.ly li .z2 .z_1{ padding-left:2%;color:#000000; width:10%; float:left;}
.ly li .z2 .z_2{ line-height:20px;color:#000000; width:88%; float:left;}
.ly li .z3{ width:100%; padding-bottom:16px; float:left;}
.ly li .z3 .z_1{ padding-left:2%;color:#f37a03; width:10%; float:left;}
.ly li .z3 .z_2{ line-height:20px;color:#f37a03; width:88%; float:left;}
@media screen and (max-width:1200px) {
.ly li .z2 .z_1{ padding-left:2%;color:#000000; width:12%; float:left;}
.ly li .z2 .z_2{ line-height:20px;color:#000000; width:86%; float:left;}
.ly li .z3 .z_1{ padding-left:2%;color:#f37a03; width:12%; float:left;}
.ly li .z3 .z_2{ line-height:20px;color:#f37a03; width:86%; float:left;}
}
@media screen and (max-width:767px) {
    .ly li .z2{ width:100%; padding:7px 0 7px 74px; float:left; position:relative;}
    .ly li .z2 .z_1{ padding-left:2%;color:#000000; width:74px; float:left; position:absolute; left:0; top:7px; }
    .ly li .z2 .z_2{ line-height:20px;color:#000000; width:98%; float:left;}
    .ly li .z3{ width:100%; padding:7px 0 7px 74px; float:left; position:relative;}
    .ly li .z3 .z_1{ padding-left:2%;color:#f37a03; width:74px; float:left; position:absolute; left:0; top:7px; }
    .ly li .z3 .z_2{ line-height:20px;color:#f37a03; width:98%; float:left;}
}


/*产品*/
.pz_SideLayer_pro{ width:100%; margin-top:20px; position:relative; z-index:3; float:left;}
.pz_SideLayer_pro .ul1{ display:block; width:100%; float:left; overflow:hidden;}
.pz_SideLayer_pro .ul1 > li{ float:left; width:100%; padding:0 0 0 28px; font-size:14px; position:relative; margin-top:-1px;}
.pz_SideLayer_pro .ul1 > li > a{ display:block; width:100%; height:100%; height:40px;  line-height:40px; position:relative; color:#162042; border-top:solid 1px #dadada;}
.pz_SideLayer_pro .ul1 > li.hover,
.pz_SideLayer_pro .ul1 > li:hover{ background:url(images/zbg_7.png) no-repeat left top; position:relative; z-index:4;}
.pz_SideLayer_pro .ul1 > li.hover > a,
.pz_SideLayer_pro .ul1 > li:hover > a{ color:white; border-top:solid 1px #612f15;}
.pz_SideLayer_pro .ul1 > li > span{ width:40px; height:40px; position:absolute; top:0; right:8px; background:url(images/zico_6_1.png) no-repeat center;}
.pz_SideLayer_pro .ul1 > li > span.on{ background-image:url(images/zico_6_2.png);}
.pz_SideLayer_pro .ul1 li .ul2{ width:100%; float:left; padding:12px 10px 8px 11px;}
.pz_SideLayer_pro .ul1 li .ul2 li{ width:100%; float:left;}
.pz_SideLayer_pro .ul1 li .ul2 li a{ display:block; width:100%; padding-left:17px; font-size:12px; color:#162042; line-height:32px; background:url(images/zico_8_3.png) no-repeat left center;}
.pz_SideLayer_pro .ul1 li .ul2 li.hover_1 a,
.pz_SideLayer_pro .ul1 li .ul2 li:hover a{ background-image:url(images/zico_8_4.png); color:#dcb479; font-weight:bold;}
@media  screen and (max-width:991px){

.c_0100 .c_210 .pz_SideLayer_pro{  margin-top:10px;}
.pz_SideLayer_pro .ul1 > li.hover,
.pz_SideLayer_pro .ul1 > li:hover{
	FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=##612f15,endColorStr=#84471f); /*IE*/   
    background:-moz-linear-gradient(top,#612f15,#84471f);/*火狐*/   
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#612f15), to(#84471f));/*谷歌*/   
  	background-image: -webkit-gradient(linear,left bottom,left top,color-start(0, #612f15),color-stop(1, #84471f));/* Safari & Chrome*/  
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#612f15', endColorstr='#84471f'); /*IE6 & IE7*/  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#612f15', endColorstr='#84471f')"; /* IE8 */ }
}


/*新增*/
/*9加盟合作*/
.c_960_7 .main_3 .ul{ width:100%; float:left;}
.c_960_7 .main_3 .ul li{ width:50%; float:left; border-bottom:solid 1px #ddd; padding:15px 0;}
.c_960_7 .main_3 .ul li .img{ width:150px; height:182px; float:left; padding:2px; border:solid 1px #ddd; overflow:hidden;}
.c_960_7 .main_3 .ul li .text{ margin-left:160px; padding-right:20px;}
.c_960_7 .main_3 .ul li .text h4{ width:100%; float:left; font-size:14px; color:#333; line-height:26px; font-weight:bold;}
.c_960_7 .main_3 .ul li .text .p{ width:100%; float:left; font-size:12px; color:#66; line-height:20px; height:120px; overflow:hidden;}
.c_960_7 .main_3 .ul li .text .more{ width:100%; float:left; font-size:12px; color:#F33; text-align:right; margin-top:10px;}
.c_960_7 .main_3 .ul li:hover .text .more{ text-decoration:underline;}
@media  screen and (max-width:767px){
.c_960_7 .main_3 .ul li{ width:100%;}
}
@media  screen and (max-width:414px){
.c_960_7 .main_3 .ul li .img{ width:100px; height:121px;}
.c_960_7 .main_3 .ul li .text{ margin-left:110px; padding-right:10px;}
}

/*10会员活动*/
.zul_3 li .text h3{ width:100%; float:left; margin-top:23px; line-height:40px; font-size:16px; color:#333;}
.zul_3 li .text h4{ width:100%; float:left; line-height:40px; font-size:14px; color:#333; padding-left:11px; background:url(images/new_ico1_1.png) no-repeat left center;}
.zul_3 li .text h4 span{ padding:0 20px;}
@media  screen and (max-width:1199px){
.zul_3 li .text h3{ margin-top:0; line-height:30px;}
.zul_3 li .text h4{ line-height:30px;}
}

/*11加盟合作内页*/
.c_960_7 .main_4{ width:100%; float:left;}
.c_960_7 .main_4 h1{ width:100%; float:left; text-align:center; font-size:24px; color:#333; line-height:34px; font-weight:bold;}
.c_960_7 .main_4 .reading{ width:100%; float:left; margin-top:18px; text-align:center; font-size:12px; color:#666; line-height:26px; border-bottom:solid 1px #ccc;}
.c_960_7 .main_4 .text{ width:100%; float:left; padding:5px 15px 5px 10px; background:#fffff0; border:solid 1px #f4e4b4; font-size:13px; color:#666; line-height:20px; margin-top:20px;}
.c_960_7 .main_4 .img{ width:100%; float:left; text-align:center; margin-top:20px;}
.c_960_7 .main_4 .img img{ padding:2px; border:solid 1px #ff9900; cursor:pointer;}
.c_960_7 .main_4 .p{ width:100%; float:left; margin-top:13px; font-size:16px; color:#666; line-height:26px; text-indent:2em;}
.c_960_7 .main_4 .p h5{ width:100%; border-bottom:solid 1px #ddd; font-size:12px; color:#333; line-height:38px; font-weight:bold; text-indent:0em;}
.c_960_7 .main_4 .btn{ width:100%; float:left; margin-top:28px;}
.c_960_7 .main_4 .btn h5{ width:100%; float:left; font-size:14px; color:#666; line-height:26px;}
.c_960_7 .main_4 .btn h5 a{ color:#666;}
.c_960_7 .main_4 .btn h5 a:hover{ color:#333;}

@media  screen and (max-width:767px){
.c_960_7 .main_4 h1{ font-size:20px; line-height:30px;}
.c_960_7 .main_4 .p{ font-size:14px; line-height:24px;}
.c_960_7 .main_4 .reading{ margin-top:10px;}
.c_960_7 .main_4 .text{ font-size:12px;}
.c_960_7 .main_4 .btn{ margin-top:18px;}
}

/*弹窗2*/
.tc_680{ width:680px; height:90%; position:fixed; left:50%; top:50%; text-align:center; z-index:101; display:none;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    	transform: translate(-50%, -50%);}
.tc_680 .img{display:inline-block;*display:inline; *zoom:1; padding:10px; width:auto; height:100%; position:relative;}
.tc_680 .img img{ position:relative; z-index:101;}
.tc_680 .img:after{ content:''; width:100%; background:black; height:80%; position:absolute; left:0; top:10%; z-index:100;}
.tc_680 .img:before{ content:''; height:100%; background:black; width:80%; position:absolute; top:0; left:10%; z-index:100;}
@media  screen and (max-width:767px){
.tc_680{ width:90%; height:auto;}
.tc_680 .img{ width:100%; height:auto;}
.tc_680 .img img{ width:100%; height:100%;}
}

/*12门店形象*/
.c_960_5 .zul_5{ width:100%; float:left; display:flex; flex-direction:row; flex-wrap:wrap; min-height:500px;}
.c_960_5 .zul_5 li{ width:33.33%; float:left; padding:0 20px; margin-top:20px; text-align:center;}
.c_960_5 .zul_5 li .img{ width:100%; float:left;}
.c_960_5 .zul_5 li h6{ width:100%; float:left; margin-top:15px; line-height:30px; font-size:14px; color:#333;}
@media  screen and (max-width:767px){
.c_960_5 .zul_5{ min-height:300px;}
.c_960_5 .zul_5 li{ padding:0 10px; margin-top:15px;}
.c_960_5 .zul_5 li h6{ margin-top:10px; line-height:20px; font-size:12px;}
}
@media  screen and (max-width:414px){
.c_960_5 .zul_5 li{ width:50%; padding:0 5px;}
}
